/*ABOUT PAGE*/
.bio-website a {
  color: #fff;
  position: absolute;

}

.bio-website a:hover {
  text-decoration: underline;
}

.bio-twitter a {
  color: #fff;
}

.bio-twitter a:hover {
  text-decoration: underline;
}

.bio-instagram a {
  color: #fff;
}

.bio-instagram a:hover {
  text-decoration: underline;
}

.bio-body, .bio-name {
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0px;
}

.bio-role, .bio-role-mobile {
  margin-bottom: 15px;
  text-align: center;
  font-size: 10.5pt;
}

.bio-role-mobile {
  display: inline;
}

.bio-role-mobile a {
  color: #008B8F;
}

.bio-role-mobile a:hover {
  text-decoration: none;
}

.bio-mobile {
  margin: 5px 0 10px 0;
}

.center-text {
  text-align: center;
}

.bio-twitter {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 10.5pt;
  position: absolute;
  z-index: 100;
  margin: 0 0 0 100px;
}

.bio-instagram {
  font-size: 10.5pt;
  position: absolute;
  z-index: 100;
  margin: 5px 0 0 90px;
}

.bio-headshot {
  width: 100%;
  height: auto;
}

.bio-body {
  margin-bottom: 10px;
  font-size: 10.5pt;
}

.bio-website, .bio-website a:hover, .bio-website a {
  color: white;
  font-size: 10.5pt;
  z-index: 99;
  margin: 20px 150px 0 0;
}

.bio-pic {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.bio-pic__image { display: block; }

.bio-pic__body {
  background: rgba(0, 139, 143, 0.7);
  bottom: 0;
  color: white;
  font-size: 12px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.bio-pic__body:hover { opacity: 1; }

.bio-pic__body:after,
.bio-pic__body:before {
  /*border: 1px solid rgba(255, 255, 255, 0.7);*/
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.bio-pic__body:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.bio-pic__body:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.bio-pic__body:hover:after,
.bio-pic__body:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.bio-pic__body h2 { margin-top: 0; }

/*---MEDIA QUERY---*/
@media only screen and (max-width: 1616px) {
  .bio-twitter {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 7pt;
    position: absolute;
    z-index: 100;
    margin: 0 0 0 100px;
  }

  .bio-instagram {
    font-size: 7pt;
    position: absolute;
    z-index: 100;
    margin: 5px 0 0 90px;
  }

  .bio-body {
    margin-bottom: 8px;
    font-size: 7pt;
  }

  .bio-website, .bio-website a:hover, .bio-website a {
    color: white;
    font-size: 7pt;
    z-index: 99;
    margin: 20px 150px 0 0;
  }
}

@media only screen and (max-width: 400px) {

}
