
.bio-margin {
    margin-top: 10px;
}

.description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    font-size: 17px;
    text-align: center;
    /*opacity: 0.8;*/
}

.description-content {
    font-family: 'Cooper Hewitt';
    font-size: .89em;
    line-height: 16px;
    padding-bottom: 0;
    color: white;
}

.image-align img {
  width: 100%;
  display: block;
  margin: auto auto;
}
