/* General */

#logo {
  width: 120px;
  top: 25px;
  left: 1.5%;
  float: left;
  position: fixed;
}

.logo-sm {
  width: 30%;
  margin-left: 15px;
}

#switch_language {
  float: right;
  position: fixed;
  text-align: center;
  top: 0px;
  right: 2%;
  width: 150px;
  padding: 5px 2px 5px;
  background-color: #E6E7E8;
  font-size: 8pt;
  line-height: 10pt;
  color: #008B8F;
  border-radius: 0 0 4px 4px;
  z-index: 100;
}

#switch_language:hover {
  color: white;
  text-decoration: none;
}

#switch_language:hover {
  background-color: #008B8F;
  color: white;
}

.arthead {
  margin-bottom: 25px;
}

.extra-nav {
  font-size: .75em;
  font-family: 'CooperHewitt-Medium';
  letter-spacing: .5px;
}

#footer .menu-tab {
  border-left: none;
  padding-right: 40px;
}

#footer .chaptertab {
  text-align: left;
  padding-left: 55px;
  padding-top: 6px;
  color: #9C9994;
  text-transform: none;
  font-family: 'CooperHewitt';
  font-size: 16pt;
  display: inline-block;
}

.chapter-info {
  margin-top: 10px;
}

.chapter-number {
  border: 1.5px solid #DE7769;
  color: #DE7769;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 3px;
  text-align: center;
  float: left;
  position: relative;
  top: -4px;
  margin-right: 10px;
}

.chapter-name {
  float: left;
}

.footer-container {
  padding-right: 2%;
  padding-left: 0%;
}

.tab-hover a {
  color: #008B8F;
}

.tab-hover:hover, .tab-hover a:hover {
  color: white;
  text-decoration: none;
}

/*chapter buttons*/
#previous-chapter {
  width: 190px;
  position: absolute;
  left: -200px;
  top: 38%;
  padding: 15px 10px;
  background-color: #008B8F;
  color: white;
  display: none;
}

#next-chapter {
  width: 190px;
  position: absolute;
  right: -200px;
  top: 38%;
  padding: 15px 10px;
  background-color: #008B8F;
  color: white;
  display: none;
}

.chapter-label {
  font-family: 'Cooper Hewitt', sans-serif;
  font-size: 16pt;
  font-weight: 500;
  border-bottom: 3px solid white;
  text-align: center;
  padding: 5px 0;
  margin: 0 10px;
}

.chapter-title {
  font-family: 'Cooper Hewitt', sans-serif;
  font-size: 12pt;
  font-weight: 700;
  text-align: center;
  padding: 10px 0 0;
}

.arrow {
  padding-top: 18px;
}

#previous-chapter a, #next-chapter a {
  color: white;
}

#previous-chapter a:hover, #next-chapter a:hover {
  color: #008B8F;
}

#previous-chapter:hover, #next-chapter:hover {
  background-color: #E2E0DD;
  color: #008B8F;
}

#fp-nav li a {
  padding: 8px 0;
}

/*menu*/
#menu {
  position: fixed;
  display: block;
  width: 100%;
  background: #008B8F;
  z-index: 10;
  text-align: center;
  color: #fff;
  font-size: 12pt;
  bottom: 0px;
  font-family: "CooperHewitt", sans-serif;
  height: 60px;
  bottom: -60px;
  /*display: none;*/
}

#menu ul {
  list-style-type: none;
  padding-left: 0;
}

#menu li {
  display: list-item;
}

#menu ul li {
    display: inline-block;
    font-family: 'CooperHewitt-Medium';
}

#menu .tabs {
  border-right: 1px solid white;
  padding-top: 20px;
  height: 60px;
}

.tab-active {
  background-color: #DF7760;
}

.tab-active {
  color: white;
}

.home_links {
  padding-top: 20px;
}

.home_ul a li {
    color: white;
    font-size: 16pt;
}

.chapter_block {
  width: 15%;
  display: inline-block;
}

.ex-out {
  width: 30%;
  margin-left: 35px;
  display: none;
}

.ex-in {
  width: 55%;
  margin-left: 37px;
}

#ex-in-hover {
  display: none;
  position: relative;
  top: -35.5px;
}

.home_ul a .chapter_one:hover span, .home_ul a .chapter_two:hover span, .home_ul a .chapter_three:hover span, .home_ul a .chapter_four:hover span, .home_ul a .chapter_five:hover span {
  display: none;
}

.home_ul a .chapter_one:hover:after, .home_ul a .chapter_two:hover:after, .home_ul a .chapter_three:hover:after, .home_ul a .chapter_four:hover:after, .home_ul a .chapter_five:hover:after {
  font-size: 13pt;
  font-family: 'CooperHewitt';
  text-decoration: none;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.home_ul a .chapter_one:hover:after{
  content: 'El Centinela';
}

.home_ul a .chapter_two:hover:after{
  content: 'A Sea for My Children';
}

.home_ul a .chapter_three:hover:after{
  content: 'Raising Up Wild';
}

.home_ul a .chapter_four:hover:after{
  content: 'Built with Bananas';
}

.home_ul a .chapter_five:hover:after{
  content: 'La Reina';
}

/*#fp-nav ul li a span, .fp-slidesNav ul li a span {
  position: relative;
}*/


/*progress bar*/
#cont{
  height: 100%;
  width: 375px;
  left: 110px;
  top: -6px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

#progress-bar{
  appearance: none;
  border: 0;
  width: 255px;
  color: #E2E0DD;
  height: 2px;
  margin: 0 auto;
  z-index: 20;
}

#progress-dots {
  position: relative;
  left: -150px;
}

#fp-nav {
  position: relative;
  display: inline-block;
}

#fp-nav.right {
  right: 60px;
}

#progress-bar::-webkit-progress-value{ /* Changes line color */
  background: #DE7769;
  transition: all 0.4s ease-in-out;
}
#progress-bar::-webkit-progress-bar{ /* Changes background color */
  background: #9C9994;
}

.coral-border {
  border: 1px solid #DE7769;
  transition: all 0.4s ease-in-out;
}

.img-menu {
  width: 31px;
}

.img-ex {
  width: 23px;
}

/*#fp-nav ul li a, .fp-slidesNav ul li a {
  display: inline-block;;
}*/

-webkit-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  -webkit-animation: story-fade-in 2s; /* Safari 4+ */
  -moz-animation:    story-fade-in 2s; /* Fx 5+ */
  -o-animation:      story-fade-in 2s; /* Opera 12+ */
  animation:         story-fade-in 2s; /* IE 10+, Fx 29+ */
}
.story-images {
  width: 45%;
  float: right;
}

/* SCROLL ARROW */
.arrow, .arrow-down {
  margin: 10px auto;
  display: block;
  text-align: center;
  padding-top: 25px;
}

.bounce {
  -moz-animation: bounce 3s 1 6s;
  -webkit-animation: bounce 3s 1 6s;
  animation: bounce 3s 1 6s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* MEDIA QUERIES */
@media (min-width: 767px) {
  #footer .menu-tab {
    padding-right: 0 !important;
  }
}

@media (max-width: 767px) {
  #footer .tabs {
    border-left: none !important;
  }

  .arrow-mobile {
    padding-top: 0;
    margin-left: 15px;
  }

  #next-chapter, #previous-chapter {
    width: 80px;
  }
}

.arrow-mobile {
  width: 50px;
}

.iframe-wrapper         {height:100%;margin:0 auto;background:#CCC; overflow: hidden}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
