/* General */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}
