/* General */
body {
  background-color: white;
  font-size: 14pt;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #282423;
}

#switch_language {
  float: right;
  position: fixed;
  text-align: center;
  top: 0px;
  right: 2%;
  width: 150px;
  padding: 5px 2px 5px;
  background-color: #E6E7E8;
  font-size: 8pt;
  line-height: 10pt;
  color: #008B8F;
  border-radius: 0 0 4px 4px;
  z-index: 100;
}

#switch_language:hover {
  color: white;
  text-decoration: none;
}

#switch_language:hover {
  background-color: #008B8F;
  color: white;
}

.video-padding {
  padding-top: 0px !important;
  padding-bottom: 60px !important;
  margin-bottom: 15px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home_section {
  background: transparent;
  text-align: center;
  width: 100%;
  height: 100%;
}

#home_section ul {
  list-style-type: none;
  padding-left: 0;
}

#home_section ul li {
  display: inline-block;
  font-family: 'CooperHewitt-Medium';
}

iframe {
  height: 100px;
}

/* CUSTOM */

.container-home {
  position: absolute;
  top: 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.home_headline {
  text-shadow: 0px 0px 15px rgba(39, 71, 110, 0.3);
  margin-top: 6%;
  margin-bottom: -2%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: 'CooperHewitt-Light', sans-serif;
  font-size: 6.5em;
  letter-spacing: 15px;
  opacity: 1.0;
}

h3 {
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 400;
  font-size: 15pt;
  line-height: 22pt;
  letter-spacing: 0.5px;
  color: white;
  /*text-shadow: 0px 0px 5px rgba(39, 71, 110, 0.6);*/
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.no_spacing {
  letter-spacing: 0;
}

#play_trailer {
  margin-top: 1%;
  margin-bottom: 5%;
}

#play_button_container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.btn-default {
  border-radius: 0;
  border: 1px solid #008B8F;
  background: none;
  color: #008B8F;
  text-transform: uppercase;
  font-family: 'CooperHewitt-Medium', sans-serif;
  font-size: 16px;
  padding-top: 10px;
  margin: 0 10px;
  width: 180px;
}

.btn-default:hover {
  border: 1px solid #008B8F;
  background-color: #008B8F;
  color: white;
}

.view_trailer {
  text-align: center;
  color: white;
  font-weight: 700;
}

.trailer_text {
  font-family: 'CooperHewitt-Medium';
  font-size: 18px;
  font-weight: 500;
}

.trailer_text a {
  color: white;
}

.trailer_text a:hover {
  color: white;
  text-decoration: none;
}

.time {
  font-weight: 700;
  font-size: 14px;
  margin-top: -5px;
}

.home_links {
  position: fixed;
  width: 100%;
  bottom: 5%;
}

.chapter_block {
  width: 15%;
  display: inline-block;
}

.home_links a {
  color: white;
  font-size: 14pt;
  font-family: 'CooperHewitt-Medium';
  padding-bottom: 25px;
  /*padding-left: 15px;
  padding-right: 15px;*/
  /*display: inline-block;*/
}

.home_links a:hover .homehovers {
  border-top: 4px solid rgba(0, 139, 143, 1.0);
  padding-top: 8px;
}

/*.home_links a.chapter_one:hover span, .home_links a.chapter_two:hover span, .home_links a.chapter_three:hover span, .home_links a.chapter_four:hover span, .home_links a.chapter_five:hover span {
  display: none;
}*/

/*#onehover, #twohover, #threehover, #fourhover, #fivehover {
  visibility: hidden;
}*/

/*.home_links a.chapter_one:hover + #onehover, .home_links a.chapter_two:hover + #twohover, .home_links a.chapter_three:hover + #threehover, .home_links a.chapter_four:hover + #fourhover, .home_links a.chapter_five:hover + #fivehover {
  visibility: visible;
}*/


.homehovers {
  font-size: 12pt;
  font-family: 'CooperHewitt-Medium';
  text-decoration: none;
  /*position: absolute;*/
  padding-top: 10px;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
  color: white;
  letter-spacing: 0px;
  text-transform: none;
  border: none;
  border-top: 2px solid rgba(255, 255, 255, .6);
}

a:hover, a:focus {
    text-decoration: none;
}

#trailer_video {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 0;
}

.exit {
  float: right;
  width: 25px;
  height: 25px;
  margin: 15px 10px;
  position: relative;
  top: -130.5%;
  right: 1%;
}

.exit a {
  color: black;
}

.exit a:hover {
  color: black;
}

canvas {
  display: block;
  position: absolute;
  top: 100%;
}

.embed-container iframe {
  /*position: absolute;*/
  top: 0%;
  left: 5%;
  width: 90%;
  height: 80%;
}

@-webkit-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  -webkit-animation: story-fade-in 2s; /* Safari 4+ */
  -moz-animation:    story-fade-in 2s; /* Fx 5+ */
  -o-animation:      story-fade-in 2s; /* Opera 12+ */
  animation:         story-fade-in 2s; /* IE 10+, Fx 29+ */
}

@media screen and (min-width: 1290px) and (max-width: 1439px) {
  .home_headline {
    margin-top: 15%
  }
  .home_links {
    padding-top: 145px;
  }
}

@media screen and (min-width: 1440px) {
  .home_headline {
    margin-top: 18%;
  }
  .home_links {
    padding-top: 165px;
  }
}

.blue {
  color: #008B8F;
  opacity: 0.7;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}
