/* Bold */
@font-face {
  font-family: 'CooperHewitt';
  src: url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.woff") format("woff"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.ttf") format("truetype"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* Light */
@font-face {
  font-family: 'CooperHewitt-Light';
  src: url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.woff") format("woff"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.ttf") format("truetype"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* General */
body {
  background-color: white;
  font-size: 14pt;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #282423;
}

h1 {
  font-family: "CooperHewitt", sans-serif;
  font-weight: 700;
  font-size: 48pt;
}

/* Bottom Nav (footer) */
#footer {
  position: fixed;
  display: block;
  width: 100%;
  background: #E2DFDC;
  z-index: 9;
  /*padding-left: 10px;*/
  color: #008B8F;
  bottom: 0px;
  font-family: "CooperHewitt", sans-serif;
  font-size: 12pt;
}

#footer .chaptertab {
  font-family: "CooperHewitt", sans-serif;
  color: grey;
  text-align: left;
}
#footer .tabs {
  text-transform: uppercase;
  border-left: 1px solid white;
  padding: 14px 10px 0 10px;
  text-align: center;
}

#footer .tabs:hover {
  background-color: #008B8F;
  color: white;
}

#footer .tabs.menu-tab {
  padding-left: 10px;
}

#footer .tabs.about-tab {
  padding-right: 10px;
}

.container-text, .container-video, .container-graphic {
  width: 65%;
  margin: 0 auto;
}

.container-video, .container-graphic {
  width: 75%;
}

.video-padding {
  padding-top: 0px !important;
  padding-bottom: 60px !important;
  margin-bottom: 15px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-primary, .button-secondary {
  width: 100px;
  height: 30px;
  border: 0;
  border-radius: 4px;
  background-color: #DF7760;
}

.button-primary:hover, .button-secondary:hover {
  background-color: #9D9994;
  color: white;
}

.button-secondary {
  background-color: #008B8F;
}

#home_section {
  background-image: url("../../media/img/home_reef.jpg");
  color: white;
  text-align: center;
}

#home_section ul {
  list-style-type: none;
}

#home_section ul li {
  display: inline-block;
  border-bottom: 4px solid #DF7760;
  margin: 0 15px;
}

p {
  margin-bottom: 25px;
}

p .last-para {
  margin-bottom: 50px;
}

.dropcap {
  font-size: 90px;
  display: inline-block;
  color: #DF7760;
}

.story-image {
  float: right;
  width: 450px;
  height: auto;
}


/*hamburger menu */
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;

}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  top: 0.4em;
  width: 1.4em;
  height: 0.15em;
  background: #008B8F;
  box-shadow:
    0 0.4em 0 0 #008B8F,
    0 0.8em 0 0 #008B8F;
}
.box-shadow-menu:beforehover {
  background: white;

}
