/* Bold */
@font-face {
  font-family: 'CooperHewitt';
  src: url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.woff") format("woff"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.ttf") format("truetype"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* Light */
@font-face {
  font-family: 'CooperHewitt-Light';
  src: url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.woff") format("woff"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.ttf") format("truetype"), url("../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* General */
body {
  background-color: white;
  font-size: 16pt;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  color: #282423;
}

h1 {
  font-family: "CooperHewitt", sans-serif;
  font-weight: 700;
  font-size: 48pt;
}

/* Bottom Nav (footer) */
#footer {
  position: fixed;
  display: block;
  width: 100%;
  background: #E2DFDC;
  z-index: 9;
  text-align: center;
  color: #008B8F;
  bottom: 0px;
  font-family: "CooperHewitt", sans-serif;
}

#footer .tabs {
  text-transform: uppercase;
  border-left: 1px solid white;
  padding: 15px 0 3px 0;
}

#footer .tabs.menu-tab {
  padding-left: 10px;
}

#footer .tabs.about-tab {
  padding-right: 10px;
}

.container-text, .container-video, .container-graphic {
  width: 65%;
  margin: 0 auto;
}

.container-video, .container-graphic {
  width: 75%;
}

.video-padding {
  padding-top: 0px !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-primary, .button-secondary {
  width: 100px;
  height: 30px;
  border: 0;
  border-radius: 4px;
  background-color: #DF7760;
}

.button-primary:hover, .button-secondary:hover {
  background-color: #9D9994;
  color: white;
}

.button-secondary {
  background-color: #008B8F;
}
