//Fonts
  /* Bold */
  @font-face {
    font-family: 'CooperHewitt';
    src: url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //  url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  /* Medium */
  @font-face {
    font-family: 'CooperHewitt-Medium';
    src: url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Medium.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //  url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  /* Light */
  @font-face {
    font-family: 'CooperHewitt-Light';
    src: url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //  url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Cooper-Hewitt/CooperHewitt-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }


//variables
  //colors
  $teal: #008B8F;
  $coral: #DF7760;
  $black: #282423;
  $grey: #9D9994;
  $light-grey: #E2DFDC;

  @mixin center {
    display: block;
    margin: 0 auto;
  }

/* General */
  body {
    color: $black;
    background-color: white;
    font-size: 14pt;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    line-height: 20pt;
    letter-spacing: 0;
  }

  h1 {
    font-family: "CooperHewitt", sans-serif;
    font-weight: 700;
    font-size: 48pt;
  }

  .caption {
    font-size: 8pt;
    font-style: italic;
    text-align: right;
    color: #9D9994;
  }

/* Bottom Nav (footer) */
#footer{
    position: fixed;
    display: block;
    width: 100%;
    background: $light-grey;
    z-index: 9;
    text-align: center;
    color: $teal;
    font-size: 12pt;
    bottom: 0px;
    font-family: "CooperHewitt", sans-serif;

    .box-shadow-menu {
      margin-top: -9px;
    }

    .chapter-tab {
      font-family: "CooperHewitt", sans-serif;
      color: grey;
      text-align: left;
    }

    .img-menu {
      cursor: pointer;
    }

    .tabs {
      text-transform: uppercase;
      border-left: 1px solid white;
      padding: 14px 10px 0 10px;
      text-align: center;
      height: 60px;
      padding-top: 12px;

      p {
        margin-bottom: 10px;
      }
      &.tab-hover:hover {
        background-color: #008B8F;
        color: white;
      }
      &.about-tab {
        padding-right: 10px;
      }
      .extra-nav {
        line-height: 17px;
        padding-top: 4px;
      }

    }

  }

//conatainers
  .container-text {
    width: 55%;
    margin: 0 auto;
  }

  @media screen and (min-width: 748px) and (max-width: 1200px) {
    .container-text {
      width: 65%;
    }
  }

  .container-video, .container-graphic {
    @extend .container-text;
    width: 70%;
  }

  .video-padding {
    padding-top: 0px !important;
    padding-bottom: 60px !important;
    margin-bottom: 15px;
  }

  .embed-container {
    position: relative;
    padding-bottom: 68.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .embed-container iframe {
    min-height: 700px;
  }

// buttons
  @mixin button {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 4px;
  }

  .button-primary {
    @include button;
    background-color: $coral;
    &:hover {
      background-color: $grey;
      color: white;
    }
  }

  .button-secondary {
    @extend .button-primary;
    background-color: $teal;
  }

// sections
  .container-graphic {
    @extend body;
    font-size: 12pt;
  }

//paragraph
  p {
    margin-bottom: 25px;
    letter-spacing: 0;
    .last-para {
      margin-bottom: 50px;
    }
  }
  .dropcap {
    width: 75px;
    height: auto;
    display: inline-block;
    float: left;
    padding-right: 8px;
    padding-left: 3px;
  }

/*hamburger menu */
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;

}

.box-shadow-menu:before {
  content: "";
  position: absolute;
  top: 0.4em;
  width: 1.4em;
  height: 0.15em;
  background: #008B8F;
  box-shadow:
    0 0.4em 0 0 #008B8F,
    0 0.8em 0 0 #008B8F;
}
.box-shadow-menu:beforehover {
  background: white;

}

iframe {
  height: 100px;
  border: 0;
}

.tabs-hover {
  color: $teal;
  a {
    color: #008B8F;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}

@mixin chapter_nav {
  width: 200px;
  position: absolute;
  top: 38%;
  padding: 15px;
  background-color: $teal;
  color: white;
  display: none;
}

#previous-chapter {
  @include chapter_nav;
  left: -200px;
}

#next-chapter {
  @include chapter_nav;
  right: -200px;
}

#logo {
  width: 120px;
  top: 25px;
  left: 1.5%;
  float: left;
  position: fixed;
}

#switch_language {
  float: right;
  position: fixed;
  text-align: center;
  top: 0px;
  right: 2%;
  width: 120px;
  padding: 2px 2px 1px;
  background-color: #E6E7E8;
  font-size: .7em;
  line-height: 1.8em;
  color: $teal;
  border-radius: 0 0 4px 4px;

  a {
    color: $teal;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  &:hover {
    background-color: $teal;
    color: white;
  }
}

@media (max-width: 767px) {
  #switch_language {
    width: 70px !important;
  }
}

#footer {
  .menu-tab {
    border-left: none;
    padding-right: 40px;
  }

  .chaptertab {
    text-align: left;
    padding-left: 70px;
    padding-top: 10px;
    color: #9C9994;
    text-transform: none;
    font-family: 'CooperHewitt';
    font-size: 16pt;
    display: inline-block;
  }
}

.arthead {
  @include center;
  width: 55%;
}

.article_subhead {
  font-family: "CooperHewitt-Light", sans-serif;
  font-size: 16pt;
  text-align: center;
  margin-top: 15px;
  width: 65%;
  margin: 15px auto;
  line-height: 22pt;
}

.article_subtitle {
  font-family: "proxima nova", sans-serif;
  font-size: 16pt;
  text-align: left;
  margin-top: 15px;
  color: $teal;
  font-weight: 800;
}

.article_credits {
  text-align: center;
  margin: 0;
  font-size: 12pt;
  line-height: 18pt;

  .article_by {
    font-weight: 700;
  }
}

/* MEDIA QUERIES */
// sizes to consider
//phone is > 480px
//tablet is > 768px
@media (max-width: 480px) {
  .sm-menu-hidden {
    display: none !important;
  }
  .arthead {
    width: 85%;
  }
  .article_subhead {
    font-size: 18pt;
  }
  #footer{
    .tabs.tab-hover:hover {
     background-color: $light-grey;
     color: $teal;
   }
   .menu-tab:hover {
     background-color: $light-grey !important;
   }
  }

}

figure.story-image {
  width: 45%;
  float: right;
  text-align: right;
  font-size: 8pt;
  color: $grey;
  font-style: italic;
  margin: 5px 0 5px 10px;
}

.no-svg .menu-icon {
  background-image: url(../assets/icons/hamburger_menu_teal.png);
}

object.menu-icon {
  width: 35px !important;
  height: auto !important;
}

.menu-icons {
  background: url("../../assets/icons/menu_icons.png");
  background-position: -0px -128px;
  width: 104px;
  height: 118px;
  zoom:0.35;
  -moz-transform:scale(0.35);
  -moz-transform-origin: 0 0;
  margin-left: 32%;

  &:hover {
    background-position: -0px -0px;
  }
}

a:hover, a:focus {
  text-decoration: none;
}

x-button {
  width: 20px;
  height: auto;
}

@media (max-width: 992px) {
  .x-button {
    width: 20px;
    margin: 0 auto;
  }
}

.next-row, .previous-row {
  margin-right: -40px;
  padding-right: 15px;

  .next-chapt-div {
    padding-right: 0;
  }

  .prev-chapt-div {
    padding-left: 0;
  }

  .arrow-right {
    margin-left: 0;
    padding-left: 0;

    img {
      width: 45%;
      margin-right: 5px;
    }
  }

  .arrow-left {
    margin-right: 0;
    padding-right: 0;

    img {
      width: 45%;
      margin-left: 5px;
      float: right;
    }
  }
}
