/*FOR SVG1*/
#low_density, #erosion, #high_density, #polyp_paths {
  fill: #df7760;
  opacity: 0.4;
}

#low_density:hover, #erosion:hover, #high_density:hover, #polyp_paths:hover {
  fill: #df7760;
  opacity: 1;
}

#low_density:active, #erosion:active, #high_density:active, #polyp_paths:active {
  fill: #df7760;
  opacity: 1;
}


.contentDiv {
  margin: 0 auto;
  display: block;
  width: 60%;
  padding-top: 15px;
}

.feature-img {
	width: 100%;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.slideTitle {
	margin-bottom: 15px !important;
}

.intro {
  margin-bottom: 25px;
}

h3 {
  color: #008B8F !important;
}
