/*.cls-1 {
  fill: #030303;
}

.cls-2 {
  fill: #030403;
}

.cls-3 {
  fill: #040505;
}

.cls-4 {
  fill: #080808;
}

.cls-5 {
  fill: #070707;
}

.cls-6 {
  fill: #0a0a0a;
}

.cls-7 {
  fill: #050505;
}

.cls-8 {
  fill: #070808;
}

.cls-9 {
  fill: #060606;
}

.cls-10 {
  fill: #0d0e0e;
}

.cls-11 {
  fill: #0d0d0d;
}

.cls-12 {
  fill: #090909;
}

.cls-13 {
  fill: #090a0a;
}

.cls-14 {
  fill: #0e0e0e;
}

.cls-15 {
  fill: #0c0d0d;
}

.cls-16 {
  fill: #191a1a;
}

.cls-17 {
  fill: #161616;
}

.cls-18 {
  fill: #e6e5e5;
}

.cls-19 {
  fill: #0b0c0c;
}

.cls-20 {
  fill: #131313;
}

.cls-21 {
  fill: #0b0b0b;
}

.cls-22 {
  fill: #0f1010;
}

.cls-23 {
  fill: #111212;
}

.cls-24 {
  fill: #e8e7e7;
}

.cls-25 {
  fill: #101010;
}

.cls-26 {
  fill: #171818;
}

.cls-27 {
  fill: #0c0c0c;
}

.cls-28 {
  fill: #151515;
}

.cls-29 {
  fill: #1d1e1e;
}

.cls-30 {
  fill: #9b9b9b;
}

.cls-31 {
  fill: #242525;
}

.cls-32 {
  fill: #131414;
}

.cls-33 {
  fill: #232424;
}

.cls-34 {
  fill: #dcdbdb;
}

.cls-35 {
  fill: #141414;
}

.cls-36 {
  fill: #1b1b1b;
}

.cls-37 {
  fill: #d9d9d8;
}

.cls-38 {
  fill: #1a1b1b;
}

.cls-39 {
  fill: #e1e1e0;
}

.cls-40 {
  fill: #191919;
}

.cls-41 {
  fill: #111;
}

.cls-42 {
  fill: #161717;
}

.cls-43 {
  fill: #232323;
}

.cls-44 {
  fill: #525252;
}

.cls-45 {
  fill: #141515;
}

.cls-46 {
  fill: #2a2a2b;
}

.cls-47 {
  fill: #222323;
}

.cls-48 {
  fill: #9f9e9e;
}

.cls-49 {
  fill: #171717;
}

.cls-50 {
  fill: #121212;
}

.cls-51 {
  fill: #5c5c5c;
}

.cls-52 {
  fill: #969696;
}

.cls-53 {
  fill: #5a5a5a;
}

.cls-54 {
  fill: #212222;
}

.cls-55 {
  fill: #0e0f0f;
}

.cls-56 {
  fill: #1d1d1d;
}

.cls-57 {
  fill: #605f5f;
}

.cls-58 {
  fill: #181818;
}

.cls-59 {
  fill: #363737;
}

.cls-60 {
  fill: #101111;
}

.cls-61 {
  fill: #2e2f2f;
}

.cls-62 {
  fill: #212121;
}

.cls-63 {
  fill: #909090;
}

.cls-64 {
  fill: #404041;
}

.cls-65 {
  fill: #2a2a2a;
}

.cls-66 {
  fill: #dbdada;
}

.cls-67 {
  fill: #1f2020;
}

.cls-68 {
  fill: #3b3b3b;
}

.cls-69 {
  fill: #202021;
}

.cls-70 {
  fill: #1a1a1a;
}

.cls-71 {
  fill: #4c4c4c;
}

.cls-72 {
  fill: #626262;
}

.cls-73 {
  fill: #9e9d9d;
}

.cls-74 {
  fill: #5c5b5b;
}

.cls-75 {
  fill: #202020;
}

.cls-76 {
  fill: #606060;
}

.cls-77 {
  fill: #323333;
}

.cls-78 {
  fill: #d8d8d7;
}

.cls-79 {
  fill: #2e2e2e;
}

.cls-80 {
  fill: #9c9c9c;
}

.cls-81 {
  fill: #2b2c2c;
}

.cls-82 {
  fill: #545454;
}

.cls-83 {
  fill: #292929;
}

.cls-84 {
  fill: #838383;
}

.cls-85 {
  fill: #434343;
}

.cls-86 {
  fill: #262626;
}

.cls-87 {
  fill: #a6a5a5;
}

.cls-88 {
  fill: #878787;
}

.cls-89 {
  fill: #878686;
}

.cls-90 {
  fill: #858585;
}

.cls-91 {
  fill: #adadad;
}

.cls-92 {
  fill: #4b4b4b;
}

.cls-93 {
  fill: #7e7e7e;
}

.cls-94 {
  fill: #2b2b2b;
}

.cls-95 {
  fill: #c4c2c2;
}

.cls-96 {
  fill: #525151;
}

.cls-97 {
  fill: #848383;
}

.cls-98 {
  fill: #353535;
}

.cls-99 {
  fill: #3a3a3a;
}

.cls-100 {
  fill: #4a4a4a;
}

.cls-101 {
  fill: #737373;
}

.cls-102 {
  fill: #2d2d2d;
}

.cls-103 {
  fill: #7b7b7b;
}

.cls-104 {
  fill: #272727;
}

.cls-105 {
  fill: #323232;
}

.cls-106 {
  fill: #6c6c6c;
}

.cls-107 {
  fill: #cbcaca;
}

.cls-108 {
  fill: #cecdcd;
}

.cls-109 {
  fill: #2c2d2d;
}

.cls-110 {
  fill: #d6d6d6;
}

.cls-111 {
  fill: #9a999a;
}

.cls-112 {
  fill: #7a7a7a;
}

.cls-113 {
  fill: #1e1f1f;
}

.cls-114 {
  fill: #7c7c7c;
}

.cls-115 {
  fill: #4d4d4d;
}

.cls-116 {
  fill: #aaa;
}

.cls-117 {
  fill: #8c8b8b;
}

.cls-118 {
  fill: #404040;
}

.cls-119 {
  fill: #636363;
}

.cls-120 {
  fill: #3b3c3c;
}

.cls-121 {
  fill: #9b9a9a;
}

.cls-122 {
  fill: #646364;
}

.cls-123 {
  fill: #a6a6a6;
}

.cls-124 {
  fill: #3e3e3e;
}

.cls-125 {
  fill: #848484;
}

.cls-126 {
  fill: #3d3e3d;
}

.cls-127 {
  fill: #bababa;
}

.cls-128 {
  fill: #515151;
}

.cls-129 {
  fill: #787877;
}

.cls-130 {
  fill: #212122;
}

.cls-131 {
  fill: #dbdbda;
}

.cls-132 {
  fill: #1e1e1e;
}

.cls-133 {
  fill: #222;
}

.cls-134 {
  fill: #a2a2a2;
}

.cls-135 {
  fill: #454545;
}

.cls-136 {
  fill: #464646;
}

.cls-137 {
  fill: #3e3f3e;
}

.cls-138 {
  fill: #d3d3d2;
}

.cls-139 {
  fill: #a7a6a6;
}

.cls-140 {
  fill: #363636;
}

.cls-141 {
  fill: #6c6b6b;
}

.cls-142 {
  fill: #494949;
}

.cls-143 {
  fill: #7d7d7d;
}

.cls-144 {
  fill: #c7c7c7;
}

.cls-145 {
  fill: #dedede;
}

.cls-146 {
  fill: #919191;
}

.cls-147 {
  fill: #cdcdcc;
}

.cls-148 {
  fill: #757575;
}

.cls-149 {
  fill: #979696;
}

.cls-150 {
  fill: #afafaf;
}

.cls-151 {
  fill: #383939;
}

.cls-152 {
  fill: #3c3c3c;
}

.cls-153 {
  fill: #a2a1a1;
}

.cls-154 {
  fill: #a7a7a7;
}

.cls-155 {
  fill: #dcdcdb;
}

.cls-156 {
  fill: #b1b0b0;
}

.cls-157 {
  fill: #979797;
}

.cls-158 {
  fill: #474747;
}

.cls-159 {
  fill: #656464;
}

.cls-160 {
  fill: #8e8e8e;
}

.cls-161 {
  fill: #939393;
}

.cls-162 {
  fill: #626161;
}

.cls-163 {
  fill: #b5b5b5;
}

.cls-164 {
  fill: #727272;
}

.cls-165 {
  fill: #424241;
}

.cls-166 {
  fill: #cccccb;
}

.cls-167 {
  fill: #525251;
}

.cls-168 {
  fill: #3f3f3f;
}

.cls-169 {
  fill: #3f3f3e;
}

.cls-170 {
  fill: #747474;
}

.cls-171 {
  fill: #cfcfcf;
}

.cls-172 {
  fill: #adacac;
}

.cls-173 {
  fill: #a8a7a7;
}

.cls-174 {
  fill: #262625;
}

.cls-175 {
  fill: #7a7979;
}

.cls-176 {
  fill: #8b8b8b;
}

.cls-177 {
  fill: #8f8f8f;
}

.cls-178 {
  fill: gray;
}

.cls-179 {
  fill: #6e6e6e;
}

.cls-180 {
  fill: #333434;
}

.cls-181 {
  fill: #908f8f;
}

.cls-182 {
  fill: #b1b1b1;
}

.cls-183 {
  fill: #767575;
}

.cls-184 {
  fill: #353636;
}

.cls-185 {
  fill: #e4e3e3;
}

.cls-186 {
  fill: #cfcfce;
}

.cls-187 {
  fill: #797979;
}

.cls-188 {
  fill: #959494;
}

.cls-189 {
  fill: #787878;
}

.cls-190 {
  fill: #505050;
}

.cls-191 {
  fill: #484848;
}

.cls-192 {
  fill: #9a9a9a;
}

.cls-193 {
  fill: #afaeae;
}

.cls-194 {
  fill: #898889;
}

.cls-195 {
  fill: #858484;
}

.cls-196 {
  fill: #8a8989;
}

.cls-197 {
  fill: #e4e4e3;
}

.cls-198 {
  fill: #565656;
}

.cls-199 {
  fill: #8e8d8e;
}

.cls-200 {
  fill: #7e7e7d;
}

.cls-201 {
  fill: #313131;
}

.cls-202 {
  fill: #aeadad;
}

.cls-203 {
  fill: #767676;
}

.cls-204 {
  fill: #676666;
}

.cls-205 {
  fill: #a3a3a3;
}

.cls-206 {
  fill: #acabab;
}

.cls-207 {
  fill: #666;
}

.cls-208 {
  fill: #9f9e9f;
}

.cls-209 {
  fill: #636263;
}

.cls-210 {
  fill: #333433;
}

.cls-211 {
  fill: #8e8e8f;
}

.cls-212 {
  fill: #383838;
}

.cls-213 {
  fill: #6a6a6a;
}

.cls-214 {
  fill: #797878;
}

.cls-215 {
  fill: #656565;
}

.cls-216 {
  fill: #585858;
}

.cls-217 {
  fill: #b9b9b9;
}

.cls-218 {
  fill: #484948;
}

.cls-219 {
  fill: #d5d5d5;
}

.cls-220 {
  fill: #dbdbdb;
}

.cls-221 {
  fill: #7f7f7f;
}

.cls-222 {
  fill: #c8c7c7;
}

.cls-223 {
  fill: #ababab;
}

.cls-224 {
  fill: #646464;
}

.cls-225 {
  fill: #5d5c5c;
}

.cls-226 {
  fill: #666665;
}

.cls-227 {
  fill: #7d7c7d;
}

.cls-228 {
  fill: #717171;
}

.cls-229 {
  fill: #242424;
}

.cls-230 {
  fill: #b0b0b0;
}

.cls-231 {
  fill: #373737;
}

.cls-232 {
  fill: #3a3b3b;
}

.cls-233 {
  fill: #5d5d5d;
}

.cls-234 {
  fill: #a5a4a4;
}

.cls-235 {
  fill: #6d6d6d;
}

.cls-236 {
  fill: #5a5a59;
}

.cls-237 {
  fill: #c2c2c2;
}

.cls-238 {
  fill: #777676;
}

.cls-239 {
  fill: #2f2f2f;
}

.cls-240 {
  fill: #bcbbbb;
}

.cls-241 {
  fill: #70706f;
}

.cls-242 {
  fill: #9d9d9d;
}

.cls-243 {
  fill: #898989;
}

.cls-244 {
  fill: #4f4f4f;
}

.cls-245 {
  fill: #a3a2a2;
}

.cls-246 {
  fill: #e6e6e6;
}

.cls-247 {
  fill: #676767;
}

.cls-248 {
  fill: #858584;
}

.cls-249 {
  fill: #747473;
}

.cls-250 {
  fill: #828181;
}

.cls-251 {
  fill: #818181;
}

.cls-252 {
  fill: #333;
}

.cls-253 {
  fill: #696868;
}

.cls-254 {
  fill: #706f6f;
}

.cls-255 {
  fill: #3c3d3d;
}

.cls-256 {
  fill: #393939;
}

.cls-257 {
  fill: #555;
}

.cls-258 {
  fill: #cccbca;
}

.cls-259 {
  fill: #d1d1d1;
}

.cls-260 {
  fill: #343434;
}

.cls-261 {
  fill: #7f7f80;
}

.cls-262 {
  fill: #575757;
}

.cls-263 {
  fill: #686767;
}

.cls-264 {
  fill: #bdbcbc;
}

.cls-265 {
  fill: #a6a6a5;
}

.cls-266 {
  fill: #6c6c6b;
}

.cls-267 {
  fill: #4e4e4e;
}

.cls-268 {
  fill: #6d6c6c;
}

.cls-269 {
  fill: #d0cfcf;
}

.cls-270 {
  fill: #6b6b6b;
}

.cls-271 {
  fill: #757474;
}

.cls-272 {
  fill: #b6b6b5;
}

.cls-273 {
  fill: #616161;
}

.cls-274 {
  fill: #b7b7b7;
}

.cls-275 {
  fill: #5b5b5b;
}

.cls-276 {
  fill: #414141;
}

.cls-277 {
  fill: #949494;
}

.cls-278 {
  fill: #b2b2b2;
}

.cls-279 {
  fill: #252525;
}

.cls-280 {
  fill: #b9b8b8;
}

.cls-281 {
  fill: #b7b6b6;
}

.cls-282 {
  fill: #393938;
}

.cls-283 {
  fill: #727271;
}

.cls-284 {
  fill: #a8a8a8;
}

.cls-285 {
  fill: #616060;
}

.cls-286 {
  fill: #7f7e7e;
}

.cls-287 {
  fill: #343535;
}

.cls-288 {
  fill: #888;
}

.cls-289 {
  fill: #aeaeae;
}

.cls-290 {
  fill: #60605f;
}

.cls-291 {
  fill: #626162;
}

.cls-292 {
  fill: #626261;
}

.cls-293 {
  fill: #3d3d3d;
}

.cls-294 {
  fill: #5f5f5f;
}

.cls-295 {
  fill: #535353;
}

.cls-296 {
  fill: #c6c6c6;
}

.cls-297 {
  fill: #a4a4a3;
}

.cls-298 {
  fill: #bdbdbd;
}

.cls-299 {
  fill: #acacac;
}

.cls-300 {
  fill: #838283;
}

.cls-301 {
  fill: #a4a4a4;
}

.cls-302 {
  fill: #80807f;
}

.cls-303 {
  fill: #1f1f1f;
}

.cls-304 {
  fill: #2d2e2e;
}

.cls-305 {
  fill: #8d8c8c;
}

.cls-306 {
  fill: #565556;
}

.cls-307 {
  fill: #999;
}

.cls-308 {
  fill: #989798;
}

.cls-309 {
  fill: #d8d8d8;
}

.cls-310 {
  fill: #444;
}

.cls-311 {
  fill: #b8b8b8;
}

.cls-312 {
  fill: #5b5a5a;
}

.cls-313 {
  fill: #c1c1c1;
}

.cls-314 {
  fill: #575656;
}

.cls-315 {
  fill: #a7a6a7;
}

.cls-316 {
  fill: #767677;
}

.cls-317 {
  fill: #7d7c7c;
}

.cls-318 {
  fill: #424242;
}

.cls-319 {
  fill: #c7c6c6;
}

.cls-320 {
  fill: #252626;
}

.cls-321 {
  fill: #575858;
}

.cls-322 {
  fill: #b5b5b4;
}

.cls-323 {
  fill: #dcdcdc;
}

.cls-324 {
  fill: #696969;
}

.cls-325 {
  fill: #484747;
}

.cls-326 {
  fill: #dadad9;
}

.cls-327 {
  fill: #9f9f9f;
}

.cls-328 {
  fill: #939292;
}

.cls-329 {
  fill: #828282;
}

.cls-330 {
  fill: #8a8a8a;
}

.cls-331 {
  fill: #a1a1a1;
}

.cls-332 {
  fill: #434342;
}

.cls-333 {
  fill: #a9a9a9;
}

.cls-334 {
  fill: #5b5b5a;
}

.cls-335 {
  fill: #d6d5d5;
}

.cls-336 {
  fill: #989898;
}

.cls-337 {
  fill: #868686;
}

.cls-338 {
  fill: #cbcbca;
}

.cls-339 {
  fill: #6b6a6a;
}

.cls-340 {
  fill: #464645;
}

.cls-341 {
  fill: #777;
}

.cls-342 {
  fill: #bab9b9;
}

.cls-343 {
  fill: #cecece;
}

.cls-344 {
  fill: #959595;
}

.cls-345 {
  fill: #d5d5d4;
}

.cls-346 {
  fill: #c3c2c1;
}

.cls-347 {
  fill: #2d2c2c;
}

.cls-348 {
  fill: #717070;
}

.cls-349 {
  fill: #3f403f;
}

.cls-350 {
  fill: #2c2c2c;
}

.cls-351 {
  fill: #535354;
}

.cls-352 {
  fill: #8b8a8a;
}

.cls-353 {
  fill: #686868;
}

.cls-354 {
  fill: #303030;
}

.cls-355 {
  fill: #595959;
}

.cls-356 {
  fill: #929292;
}

.cls-357 {
  fill: #707070;
}

.cls-358 {
  fill: #535253;
}

.cls-359 {
  fill: #5e5d5e;
}

.cls-360 {
  fill: #585758;
}

.cls-361 {
  fill: #5e5e5e;
}

.cls-362 {
  fill: #6f6f6f;
}

.cls-363 {
  fill: #5a5959;
}

.cls-364 {
  fill: #7a797a;
}

.cls-365 {
  fill: #504f50;
}

.cls-366 {
  fill: #b5b4b4;
}

.cls-367 {
  fill: #999998;
}

.cls-368 {
  fill: #4c4b4b;
}

.cls-369 {
  fill: #7b7b7a;
}

.cls-370 {
  fill: #2a2b2b;
}

.cls-371 {
  fill: #888787;
}

.cls-372 {
  fill: #2a2b2a;
}

.cls-373 {
  fill: #b3b3b3;
}

.cls-374 {
  fill: #7d7d7c;
}

.cls-375 {
  fill: #717071;
}

.cls-376 {
  fill: #2f3030;
}

.cls-377 {
  fill: #616162;
}

.cls-378 {
  fill: #929191;
}

.cls-379 {
  fill: #5d5d5c;
}

.cls-380 {
  fill: #59595a;
}

.cls-381 {
  fill: #282828;
}

.cls-382 {
  fill: #707171;
}

.cls-383 {
  fill: #888788;
}

.cls-384 {
  fill: #5e5e5d;
}

.cls-385 {
  fill: #8d8d8d;
}

.cls-386 {
  fill: #434242;
}

.cls-387 {
  fill: #767675;
}

.cls-388 {
  fill: #373738;
}

.cls-389 {
  fill: #474646;
}

.cls-390 {
  fill: #272828;
}

.cls-391 {
  fill: #4c4c4d;
}

.cls-392 {
  fill: #777778;
}

.cls-393 {
  fill: #282929;
}

.cls-394 {
  fill: #7c7b7b;
}

.cls-395 {
  fill: #dfdfde;
}

.cls-396 {
  fill: #6b6b6a;
}

.cls-397 {
  fill: #4c4c4b;
}

.cls-398 {
  fill: #777677;
}

.cls-399 {
  fill: #b4b4b4;
}

.cls-400 {
  fill: #1b1c1c;
}

.cls-401 {
  fill: #8f8e8f;
}

.cls-402 {
  fill: #1c1c1c;
}

.cls-403 {
  fill: #7c7c7b;
}

.cls-404 {
  fill: #818080;
}

.cls-405 {
  fill: #181919;
}

.cls-406 {
  fill: #202120;
}

.cls-407 {
  fill: #787777;
}

.cls-408 {
  fill: #868585;
}

.cls-409 {
  fill: #aaa9a9;
}

.cls-410 {
  fill: #949394;
}

.cls-411 {
  fill: #807f7f;
}

.cls-412 {
  fill: #747373;
}

.cls-413 {
  fill: #545453;
}

.cls-414 {
  fill: #a7a7a6;
}

.cls-415 {
  fill: #5f5f5e;
}

.cls-416 {
  fill: #424343;
}

.cls-417 {
  fill: #5b5a5b;
}

.cls-418 {
  fill: #b3b2b2;
}

.cls-419 {
  fill: #6a6969;
}

.cls-420 {
  fill: #737374;
}

.cls-421 {
  fill: #3d3e3e;
}

.cls-422 {
  fill: #313232;
}

.cls-423 {
  fill: #959596;
}

.cls-424 {
  fill: #e0dfdf;
}

.cls-425 {
  fill: #414242;
}

.cls-426 {
  fill: #7b7a7a;
}

.cls-427 {
  fill: #262727;
}

.cls-428 {
  fill: #d8d7d6;
}

.cls-429 {
  fill: #8d8d8c;
}

.cls-430 {
  fill: #4a494a;
}

.cls-431 {
  fill: #bebdbd;
}

.cls-432 {
  fill: #565555;
}

.cls-433 {
  fill: #999898;
}

.cls-434 {
  fill: #4b4a4a;
}

.cls-435 {
  fill: #7e7d7d;
}

.cls-436 {
  fill: #636262;
}

.cls-437 {
  fill: #6e6d6d;
}

.cls-438 {
  fill: #9e9e9e;
}

.cls-439 {
  fill: #b6b6b6;
}

.cls-440 {
  fill: #a0a0a0;
}

.cls-441 {
  fill: #666565;
}

.cls-442 {
  fill: #9d9c9d;
}

.cls-443 {
  fill: #b0afaf;
}

.cls-444 {
  fill: #858686;
}

.cls-445 {
  fill: #444443;
}

.cls-446 {
  fill: #737272;
}

.cls-447 {
  fill: #bfbfbf;
}

.cls-448 {
  fill: #555454;
}

.cls-449 {
  fill: silver;
}

.cls-450 {
  fill: #d4d4d4;
}

.cls-451 {
  fill: #0f0f0f;
}

.cls-452 {
  fill: #6e6f6f;
}

.cls-453 {
  fill: #4d4c4d;
}

.cls-454 {
  fill: #a8a7a8;
}

.cls-455 {
  fill: #dadada;
}

.cls-456 {
  fill: #a6a5a6;
}

.cls-457 {
  fill: #8c8b8c;
}

.cls-458 {
  fill: #353434;
}

.cls-459 {
  fill: #504f4f;
}

.cls-460 {
  fill: #4a4a49;
}

.cls-461 {
  fill: #525353;
}

.cls-462 {
  fill: #585757;
}

.cls-463 {
  fill: #777878;
}

.cls-464 {
  fill: #494849;
}

.cls-465 {
  fill: #cdcccc;
}

.cls-466 {
  fill: #646363;
}

.cls-467 {
  fill: #7c7b7c;
}

.cls-468 {
  fill: #c1c1c0;
}

.cls-469 {
  fill: #dfdede;
}

.cls-470 {
  fill: #858485;
}

.cls-471 {
  fill: #bebebe;
}

.cls-472 {
  fill: #9c9b9b;
}

.cls-473 {
  fill: #434443;
}

.cls-474 {
  fill: #6c6c6d;
}

.cls-475 {
  fill: #aeadae;
}

.cls-476 {
  fill: #4f4e4e;
}

.cls-477 {
  fill: #c3c2c2;
}

.cls-478 {
  fill: #e4e3e2;
}

.cls-479 {
  fill: #898888;
}

.cls-480 {
  fill: #363536;
}

.cls-481 {
  fill: #8c8c8c;
}

.cls-482 {
  fill: #dedddd;
}

.cls-483 {
  fill: #646564;
}

.cls-484 {
  fill: #515150;
}

.cls-485 {
  fill: #a09fa0;
}

.cls-486 {
  fill: #4f4e4f;
}

.cls-487 {
  fill: #4e4d4e;
}

.cls-488 {
  fill: #878687;
}

.cls-489 {
  fill: #606061;
}

.cls-490 {
  fill: #979796;
}

.cls-491 {
  fill: #969595;
}

.cls-492 {
  fill: #494948;
}

.cls-493 {
  fill: #313132;
}

.cls-494 {
  fill: #5f5e5e;
}

.cls-495 {
  fill: #151616;
}

.cls-496 {
  fill: #3a3a3b;
}

.cls-497 {
  fill: #6b6c6c;
}

.cls-498 {
  fill: #c2c1c1;
}

.cls-499 {
  fill: #464747;
}

.cls-500 {
  fill: #3e3f3f;
}

.cls-501 {
  fill: #eaeae9;
}

.cls-502 {
  fill: #a5a5a5;
}

.cls-503 {
  fill: #c5c5c4;
}

.cls-504 {
  fill: #d4d3d3;
}

.cls-505 {
  fill: #c9c9c8;
}

.cls-506 {
  fill: #979798;
}

.cls-507 {
  fill: #abaaaa;
}

.cls-508 {
  fill: #bcbcbc;
}

.cls-509 {
  fill: #cac9c9;
}

.cls-510 {
  fill: #c4c4c4;
}

.cls-511 {
  fill: #c4c3c3;
}

.cls-512 {
  fill: #b9baba;
}

.cls-513 {
  fill: #3e3e3f;
}

.cls-514 {
  fill: #1c1d1d;
}

.cls-515 {
  fill: #e6e6e5;
}

.cls-516 {
  fill: #d2d2d1;
}

.cls-517 {
  fill: #b8b7b7;
}

.cls-518 {
  fill: #868687;
}

.cls-519 {
  fill: #585857;
}

.cls-520 {
  fill: #a6a4a4;
}

.cls-521 {
  fill: #8e8d8d;
}

.cls-522 {
  fill: #e1e1e1;
}

.cls-523 {
  fill: #737474;
}

.cls-524 {
  fill: #c0bfbe;
}

.cls-525 {
  fill: #c0bfbf;
}

.cls-526 {
  fill: #555656;
}

.cls-527 {
  fill: #a4a3a4;
}

.cls-528 {
  fill: #3b3a3a;
}

.cls-529 {
  fill: #eae9e9;
}

.cls-530 {
  fill: #838282;
}

.cls-531 {
  fill: #e0e0e0;
}

.cls-532 {
  fill: #b6b5b5;
}

.cls-533 {
  fill: #d1d0d0;
}

.cls-534 {
  fill: #807f80;
}

.cls-535 {
  fill: #8f8e8e;
}

.cls-536 {
  fill: #878786;
}

.cls-537 {
  fill: #494848;
}

.cls-538 {
  fill: #9c9b9c;
}

.cls-539 {
  fill: #b2b1b1;
}

.cls-540 {
  fill: #b7b7b6;
}

.cls-541 {
  fill: #6a6b6b;
}

.cls-542 {
  fill: #9c9c9d;
}

.cls-543 {
  fill: #858586;
}

.cls-544 {
  fill: #323231;
}

.cls-545 {
  fill: #7b7c7c;
}

.cls-546 {
  fill: #6c6d6d;
}

.cls-547 {
  fill: #7b7a7b;
}

.cls-548 {
  fill: #747475;
}

.cls-549 {
  fill: #595858;
}

.cls-550 {
  fill: #888887;
}

.cls-551 {
  fill: #6f6e6e;
}

.cls-552 {
  fill: #908f90;
}

.cls-553 {
  fill: #818180;
}

.cls-554 {
  fill: #757574;
}

.cls-555 {
  fill: #69696a;
}

.cls-556 {
  fill: #454646;
}

.cls-557 {
  fill: #b4b4b3;
}

.cls-558 {
  fill: #646465;
}

.cls-559 {
  fill: #9e9d9e;
}

.cls-560 {
  fill: #7a7a79;
}

.cls-561 {
  fill: #444445;
}

.cls-562 {
  fill: #393a39;
}

.cls-563 {
  fill: #969796;
}

.cls-564 {
  fill: #696a6a;
}

.cls-565 {
  fill: #232324;
}

.cls-566 {
  fill: #d9d8d8;
}

.cls-567 {
  fill: #6e6e6d;
}

.cls-568 {
  fill: #e5e5e4;
}

.cls-569 {
  fill: #c3c3c3;
}

.cls-570 {
  fill: #5f5e5f;
}

.cls-571 {
  fill: #e7e6e6;
}

.cls-572 {
  fill: #4b4a4b;
}

.cls-573 {
  fill: #e5e4e4;
}

.cls-574 {
  fill: #b8b8b7;
}

.cls-575 {
  fill: #c1c0c0;
}

.cls-576 {
  fill: #464546;
}

.cls-577 {
  fill: #686867;
}

.cls-578 {
  fill: #d3d3d3;
}

.cls-579 {
  fill: #8d8c8d;
}

.cls-580 {
  fill: #99999a;
}

.cls-581 {
  fill: #6d6d6e;
}

.cls-582 {
  fill: #c5c4c4;
}

.cls-583 {
  fill: #282727;
}

.cls-584 {
  fill: #5c5c5b;
}

.cls-585 {
  fill: #434444;
}

.cls-586 {
  fill: #656465;
}

.cls-587 {
  fill: #515152;
}

.cls-588 {
  fill: #1c1c1d;
}

.cls-589 {
  fill: #8a898a;
}

.cls-590 {
  fill: #989899;
}

.cls-591 {
  fill: #848585;
}

.cls-592 {
  fill: #363736;
}

.cls-593 {
  fill: #282827;
}

.cls-594 {
  fill: #545354;
}

.cls-595 {
  fill: #707071;
}

.cls-596 {
  fill: #bbbaba;
}

.cls-597 {
  fill: #727273;
}

.cls-598 {
  fill: #222221;
}

.cls-599 {
  fill: #8f8f8e;
}

.cls-600 {
  fill: #b1b1b0;
}

.cls-601 {
  fill: #bbb;
}

.cls-602 {
  fill: #7b7b7c;
}

.cls-603 {
  fill: #c2c2c1;
}

.cls-604 {
  fill: #818081;
}

.cls-605 {
  fill: #ccc;
}

.cls-606 {
  fill: #c8c8c8;
}

.cls-607 {
  fill: #bfbfbe;
}

.cls-608 {
  fill: #c6c6c5;
}

.cls-609 {
  fill: #c4c4c3;
}

.cls-610 {
  fill: #bebebd;
}

.cls-611 {
  fill: #c6c5c5;
}

.cls-612 {
  fill: #a1a0a1;
}

.cls-613 {
  fill: #9b9a9b;
}

.cls-614 {
  fill: #cacaca;
}

.cls-615 {
  fill: #e2e1e1;
}

.cls-616 {
  fill: #535252;
}

.cls-617 {
  fill: #c8c8c7;
}

.cls-618 {
  fill: #1d1e1d;
}

.cls-619 {
  fill: #bdbdbc;
}

.cls-620 {
  fill: #5f5f60;
}

.cls-621 {
  fill: #d9d9d9;
}

.cls-622 {
  fill: #989797;
}

.cls-623 {
  fill: #c9c8c8;
}

.cls-624 {
  fill: #a4a3a3;
}

.cls-625 {
  fill: #d0d0d0;
}

.cls-626 {
  fill: #9d9c9c;
}

.cls-627 {
  fill: #d7d7d7;
}

.cls-628 {
  fill: #e9e8e8;
}

.cls-629 {
  fill: #7f7e7f;
}

.cls-630 {
  fill: #959495;
}

.cls-631 {
  fill: #bcbcbb;
}

.cls-632 {
  fill: #c5c5c5;
}

.cls-633 {
  fill: #919091;
}

.cls-634 {
  fill: #8b8a8b;
}

.cls-635 {
  fill: #4a4b4b;
}

.cls-636 {
  fill: #929192;
}

.cls-637 {
  fill: #9c9c9b;
}

.cls-638 {
  fill: #5e5d5d;
}

.cls-639 {
  fill: #cacac9;
}

.cls-640 {
  fill: #cccbcb;
}

.cls-641 {
  fill: #a9a8a8;
}

.cls-642 {
  fill: #cbcbcb;
}

.cls-643 {
  fill: #e7e7e7;
}

.cls-644 {
  fill: #484847;
}

.cls-645 {
  fill: #909191;
}

.cls-646 {
  fill: #575756;
}

.cls-647 {
  fill: #303130;
}

.cls-648 {
  fill: #c4c3c2;
}

.cls-649 {
  fill: #848483;
}

.cls-650 {
  fill: #e2e2e1;
}

.cls-651 {
  fill: #cfcece;
}

.cls-652 {
  fill: #dddddc;
}

.cls-653 {
  fill: #3f4040;
}

.cls-654 {
  fill: #e5e5e5;
}

.cls-655 {
  fill: #e3e2e2;
}

.cls-656 {
  fill: #939293;
}

.cls-657 {
  fill: #6f6f70;
}

.cls-658 {
  fill: #6d6e6e;
}

.cls-659 {
  fill: #999899;
}

.cls-660 {
  fill: #d6d6d5;
}

.cls-661 {
  fill: #717271;
}

.cls-662 {
  fill: #aaa9aa;
}

.cls-663 {
  fill: #b6b7b6;
}

.cls-664 {
  fill: #494a49;
}

.cls-665 {
  fill: #d3d4d3;
}

.cls-666 {
  fill: #585958;
}

.cls-667 {
  fill: #515050;
}

.cls-668 {
  fill: #9a9a9b;
}

.cls-669 {
  fill: #49494a;
}

.cls-670 {
  fill: #d4d5d4;
}

.cls-671 {
  fill: #373838;
}

.cls-672 {
  fill: #d2d2d2;
}

.cls-673 {
  fill: #717272;
}

.cls-674 {
  fill: #b2b3b3;
}

.cls-675 {
  fill: #b5b6b5;
}

.cls-676 {
  fill: #323233;
}

.cls-677 {
  fill: #3c3c3d;
}

.cls-678 {
  fill: #79797a;
}

.cls-679 {
  fill: #605f60;
}

.cls-680 {
  fill: #868586;
}

.cls-681 {
  fill: #3f3f40;
}

.cls-682 {
  fill: #4f5050;
}

.cls-683 {
  fill: #bfbebe;
}

.cls-684 {
  fill: #dfdfdf;
}

.cls-685 {
  fill: #c3c3c2;
}

.cls-686 {
  fill: #686869;
}

.cls-687 {
  fill: #656666;
}

.cls-688 {
  fill: #979697;
}

.cls-689 {
  fill: #c7c7c6;
}

.cls-690 {
  fill: #adacad;
}

.cls-691 {
  fill: #494a4a;
}

.cls-692 {
  fill: #cececd;
}

.cls-693 {
  fill: #777877;
}

.cls-694 {
  fill: #747575;
}

.cls-695 {
  fill: #646565;
}

.cls-696 {
  fill: #aeaead;
}

.cls-697 {
  fill: #7c7c7d;
}

.cls-698 {
  fill: #a09f9f;
}

.cls-699 {
  fill: #b1b0b1;
}

.cls-700 {
  fill: #9a9b9a;
}

.cls-701 {
  fill: #c0c0bf;
}

.cls-702 {
  fill: #757676;
}

.cls-703 {
  fill: #5d5e5d;
}

.cls-704 {
  fill: #919190;
}

.cls-705 {
  fill: #121313;
}

.cls-706 {
  fill: #e3e3e3;
}

.cls-707 {
  fill: #ddd;
}

.cls-708 {
  fill: #9f9fa0;
}

.cls-709 {
  fill: #d0d0cf;
}

.cls-710 {
  fill: #afafae;
}

.cls-711 {
  fill: #d2d1d1;
}

.cls-712 {
  fill: #dbdcdb;
}

.cls-713 {
  fill: #727171;
}

.cls-714 {
  fill: #b7b8b8;
}

.cls-715 {
  fill: #e3e3e2;
}

.cls-716 {
  fill: #e0e0df;
}

.cls-717 {
  fill: #838384;
}

.cls-718 {
  fill: #babab9;
}

.cls-719 {
  fill: #babbba;
}

.cls-720 {
  fill: #a5a4a5;
}

.cls-721 {
  fill: #a8a9a8;
}

.cls-722 {
  fill: #696968;
}

.cls-723 {
  fill: #bbbbba;
}

.cls-724 {
  fill: #acacab;
}

.cls-725 {
  fill: #929291;
}

.cls-726 {
  fill: #b7b6b7;
}

.cls-727 {
  fill: #cdcdcd;
}

.cls-728 {
  fill: #9b9b9c;
}

.cls-729 {
  fill: #666766;
}

.cls-730 {
  fill: #7b7a79;
}

.cls-731 {
  fill: #e2e3e2;
}

.cls-732 {
  fill: #0d0d0e;
}

.cls-733 {
  fill: #989897;
}

.cls-734 {
  fill: #a9a9a8;
}

.cls-735 {
  fill: #515252;
}

.cls-736 {
  fill: #303131;
}

.cls-737 {
  fill: #4e4f4f;
}

.cls-738 {
  fill: #d4d5d5;
}

.cls-739 {
  fill: #5f6060;
}

.cls-740 {
  fill: #e2e2e2;
}

.cls-741 {
  fill: #9b9c9c;
}

.cls-742 {
  fill: #373637;
}

.cls-743 {
  fill: #8f8f90;
}

.cls-744 {
  fill: #454546;
}

.cls-745 {
  fill: #949595;
}

.cls-746 {
  fill: #4e4f4e;
}

.cls-747 {
  fill: #787778;
}

.cls-748 {
  fill: #6f6f6e;
}

.cls-749 {
  fill: #292a2a;
}

.cls-750 {
  fill: #474647;
}

.cls-751 {
  fill: #5e5e5f;
}

.cls-752 {
  fill: #b0b0af;
}

.cls-753 {
  fill: #3b3b3c;
}

.cls-754 {
  fill: #2c2b2b;
}

.cls-755 {
  fill: #787879;
}

.cls-756 {
  fill: #4d4c4c;
}

.cls-757 {
  fill: #848485;
}

.cls-758 {
  fill: #a3a2a3;
}

.cls-759 {
  fill: #222322;
}

.cls-760 {
  fill: #767576;
}

.cls-761 {
  fill: #555556;
}

.cls-762 {
  fill: #e1e0e0;
}

.cls-763 {
  fill: #393a3a;
}

.cls-764 {
  fill: #464647;
}

.cls-765 {
  fill: #828281;
}

.cls-766 {
  fill: #a9a8a9;
}

.cls-767 {
  fill: #181819;
}

.cls-768 {
  fill: #6a6a6b;
}

.cls-769 {
  fill: #666767;
}

.cls-770 {
  fill: #6b6b6c;
}

.cls-771 {
  fill: #c9c9c9;
}

.cls-772 {
  fill: #717172;
}

.cls-773 {
  fill: #565657;
}

.cls-774 {
  fill: #525152;
}

.cls-775 {
  fill: #343435;
}

.cls-776 {
  fill: #949393;
}

.cls-777 {
  fill: #757576;
}

.cls-778 {
  fill: #808081;
}

.cls-779 {
  fill: #676868;
}

.cls-780 {
  fill: #848384;
}

.cls-781 {
  fill: #7a7b7a;
}

.cls-782 {
  fill: #1b1c1b;
}

.cls-783 {
  fill: #616061;
}

.cls-784 {
  fill: #757475;
}

.cls-785 {
  fill: #888889;
}

.cls-786 {
  fill: #4d4d4c;
}

.cls-787 {
  fill: #5c5d5c;
}

.cls-788 {
  fill: #d1d1d0;
}

.cls-789 {
  fill: #2d2d2c;
}

.cls-790 {
  fill: #767777;
}

.cls-791 {
  fill: #404140;
}

.cls-792 {
  fill: #5d5c5d;
}

.cls-793 {
  fill: #484949;
}

.cls-794 {
  fill: #868685;
}

.cls-795 {
  fill: #919090;
}

.cls-796 {
  fill: #737273;
}

.cls-797 {
  fill: #959696;
}

.cls-798 {
  fill: #969596;
}

.cls-799 {
  fill: #363637;
}

.cls-800 {
  fill: #666566;
}

.cls-801 {
  fill: #767776;
}

.cls-802 {
  fill: #b9b9b8;
}

.cls-803 {
  fill: #818281;
}

.cls-804 {
  fill: #464746;
}

.cls-805 {
  fill: #949493;
}

.cls-806 {
  fill: #d8d9d8;
}

.cls-807 {
  fill: #9a9b9b;
}

.cls-808 {
  fill: #878788;
}

.cls-809 {
  fill: #828283;
}

.cls-810 {
  fill: #969697;
}

.cls-811 {
  fill: #a2a1a2;
}

.cls-812 {
  fill: #7f8080;
}

.cls-813 {
  fill: #6e6e6f;
}

.cls-814 {
  fill: #636364;
}

.cls-815 {
  fill: #e8e8e7;
}

.cls-816 {
  fill: #454645;
}

.cls-817 {
  fill: #919292;
}

.cls-818 {
  fill: #616160;
}

.cls-819 {
  fill: #3f3e3e;
}

.cls-820 {
  fill: #afaeaf;
}

.cls-821 {
  fill: #dededd;
}

.cls-822 {
  fill: #545555;
}

.cls-823 {
  fill: #262726;
}

.cls-824 {
  fill: #636362;
}

.cls-825 {
  fill: #7e7e7f;
}

.cls-826 {
  fill: #b4b3b3;
}

.cls-827 {
  fill: #d4d4d3;
}

.cls-828 {
  fill: #d7d7d6;
}

.cls-829 {
  fill: #b3b4b3;
}

.cls-830 {
  fill: #90908f;
}

.cls-831 {
  fill: #a8a8a7;
}

.cls-832 {
  fill: #515051;
}

.cls-833 {
  fill: #969797;
}

.cls-834 {
  fill: #787979;
}

.cls-835 {
  fill: #656566;
}

.cls-836 {
  fill: #727172;
}

.cls-837 {
  fill: #272728;
}

.cls-838 {
  fill: #999a9a;
}

.cls-839 {
  fill: #808181;
}

.cls-840 {
  fill: #5c5b5c;
}

.cls-841 {
  fill: #8a8a89;
}

.cls-842 {
  fill: #1e1f1e;
}

.cls-843 {
  fill: #5a595a;
}

.cls-844 {
  fill: #949594;
}

.cls-845 {
  fill: #797879;
}

.cls-846 {
  fill: #545455;
}

.cls-847 {
  fill: #4e4e4f;
}

.cls-848 {
  fill: #7e7d7e;
}

.cls-849 {
  fill: #939394;
}

.cls-850 {
  fill: #b4b5b5;
}

.cls-851 {
  fill: #939392;
}

.cls-852 {
  fill: #abaaab;
}

.cls-853 {
  fill: #8b8b8a;
}

.cls-854 {
  fill: #a1a0a0;
}

.cls-855 {
  fill: #dbdcdc;
}

.cls-856 {
  fill: #9b9b9a;
}

.cls-857 {
  fill: #4b4b4c;
}

.cls-858 {
  fill: #565655;
}

.cls-859 {
  fill: #cbcacb;
}

.cls-860 {
  fill: #595a59;
}

.cls-861 {
  fill: #b2b3b2;
}

.cls-862 {
  fill: #444344;
}

.cls-863 {
  fill: #999a99;
}

.cls-864 {
  fill: #777776;
}

.cls-865 {
  fill: #898988;
}

.cls-866 {
  fill: #939494;
}

.cls-867 {
  fill: #acabac;
}

.cls-868 {
  fill: #666667;
}

.cls-869 {
  fill: #d8d9d9;
}

.cls-870 {
  fill: #828182;
}

.cls-871 {
  fill: #545353;
}

.cls-872 {
  fill: #515251;
}

.cls-873 {
  fill: #979898;
}

.cls-874 {
  fill: #959594;
}

.cls-875 {
  fill: #e4e4e4;
}

.cls-876 {
  fill: #b3b4b4;
}

.cls-877 {
  fill: #d2d3d2;
}

.cls-878 {
  fill: #7c7d7d;
}

.cls-879 {
  fill: #ababaa;
}

.cls-880 {
  fill: #d6d7d6;
}

.cls-881 {
  fill: #d6d7d7;
}

.cls-882 {
  fill: #afb0b0;
}

.cls-883 {
  fill: #d5d4d4;
}

.cls-884 {
  fill: #424342;
}

.cls-885 {
  fill: #7d7d7e;
}

.cls-886 {
  fill: #535352;
}

.cls-887 {
  fill: #6a6b6a;
}

.cls-888 {
  fill: #9fa0a0;
}

.cls-889 {
  fill: #8f9090;
}

.cls-890 {
  fill: #727372;
}

.cls-891 {
  fill: #5d5d5e;
}

.cls-892 {
  fill: #6a6a69;
}

.cls-893 {
  fill: #9d9d9e;
}

.cls-894 {
  fill: #454444;
}

.cls-895 {
  fill: #89898a;
}

.cls-896 {
  fill: #dfe0df;
}

.cls-897 {
  fill: #aaaaa9;
}

.cls-898 {
  fill: #555554;
}

.cls-899 {
  fill: #302f2f;
}

.cls-900 {
  fill: #2f302f;
}

.cls-901 {
  fill: #9a9999;
}

.cls-902 {
  fill: #bcbdbc;
}

.cls-903 {
  fill: #959695;
}

.cls-904 {
  fill: #686768;
}

.cls-905 {
  fill: #727373;
}

.cls-906 {
  fill: #717170;
}

.cls-907 {
  fill: #444545;
}

.cls-908 {
  fill: #b5b6b6;
}

.cls-909 {
  fill: #a2a2a3;
}

.cls-910 {
  fill: #4e4d4d;
}

.cls-911 {
  fill: #c7c6c7;
}

.cls-912 {
  fill: #b6b7b7;
}

.cls-913 {
  fill: #bbbcbc;
}

.cls-914 {
  fill: #646463;
}

.cls-915 {
  fill: #b7b7b8;
}

.cls-916 {
  fill: #4b4b4a;
}

.cls-917 {
  fill: #6f7070;
}

.cls-918 {
  fill: #676768;
}

.cls-919 {
  fill: #3e3d3d;
}

.cls-920 {
  fill: #555655;
}

.cls-921 {
  fill: #a1a1a2;
}

.cls-922 {
  fill: #a0a1a1;
}

.cls-923 {
  fill: #dddcdc;
}

.cls-924 {
  fill: #525253;
}

.cls-925 {
  fill: #989999;
}

.cls-926 {
  fill: #686969;
}

.cls-927 {
  fill: #dadbda;
}

.cls-928 {
  fill: #d7d8d7;
}

.cls-929 {
  fill: #e0e1e0;
}

.cls-930 {
  fill: #e7e7e6;
}

.cls-931 {
  fill: #d3d4d4;
}

.cls-932 {
  fill: #f9ed32;
}

.cls-933 {
  fill: #df7760;
}

.cls-934 {
  fill: none;
}*/
