/*.cls-1 {
  fill: #919191;
}

.cls-2 {
  fill: #a7a7a7;
}

.cls-3 {
  fill: #969696;
}

.cls-4 {
  fill: #bebebd;
}

.cls-5 {
  fill: #afaeae;
}

.cls-6 {
  fill: #a9a8a8;
}

.cls-7 {
  fill: #b2b2b2;
}

.cls-8 {
  fill: #ececeb;
}

.cls-9 {
  fill: #f3f2f2;
}

.cls-10 {
  fill: #b8b8b8;
}

.cls-11 {
  fill: #a6a5a5;
}

.cls-12 {
  fill: #c2c2c1;
}

.cls-13 {
  fill: #c0c0bf;
}

.cls-14 {
  fill: #dbdbda;
}

.cls-15 {
  fill: #ababab;
}

.cls-16 {
  fill: #a3a3a3;
}

.cls-17 {
  fill: #c0bfbf;
}

.cls-18 {
  fill: #858585;
}

.cls-19 {
  fill: #959595;
}

.cls-20 {
  fill: #bcbbbb;
}

.cls-21 {
  fill: #e4e4e3;
}

.cls-22 {
  fill: #cfcfcf;
}

.cls-23 {
  fill: #dddddc;
}

.cls-24 {
  fill: #c6c6c5;
}

.cls-25 {
  fill: #f5f4f3;
}

.cls-26 {
  fill: #929292;
}

.cls-27 {
  fill: #bfbebe;
}

.cls-28 {
  fill: #c7c7c6;
}

.cls-29 {
  fill: #adadad;
}

.cls-30 {
  fill: #f6f6f5;
}

.cls-31 {
  fill: #999a9a;
}

.cls-32 {
  fill: #d1d1d0;
}

.cls-33 {
  fill: #c2c1c1;
}

.cls-34 {
  fill: #9c9c9c;
}

.cls-35 {
  fill: #efefee;
}

.cls-36 {
  fill: #edeceb;
}

.cls-37 {
  fill: #777;
}

.cls-38 {
  fill: #b7b6b6;
}

.cls-39 {
  fill: #dcdcdc;
}

.cls-40 {
  fill: #c6c5c5;
}

.cls-41 {
  fill: #dadada;
}

.cls-42 {
  fill: #dad9d9;
}

.cls-43 {
  fill: #989898;
}

.cls-44 {
  fill: #cbcaca;
}

.cls-45 {
  fill: #f4f4f3;
}

.cls-46 {
  fill: #e1e1e1;
}

.cls-47 {
  fill: #e8e7e7;
}

.cls-48 {
  fill: #f2f1f1;
}

.cls-49 {
  fill: #a8a7a7;
}

.cls-50 {
  fill: #989798;
}

.cls-51 {
  fill: #bab9b9;
}

.cls-52 {
  fill: #dfdfdf;
}

.cls-53 {
  fill: #555;
}

.cls-54 {
  fill: #ebeaea;
}

.cls-55 {
  fill: #c1c0c0;
}

.cls-56 {
  fill: #5d5d5d;
}

.cls-57 {
  fill: #919090;
}

.cls-58 {
  fill: #e8e8e7;
}

.cls-59 {
  fill: #e5e5e4;
}

.cls-60 {
  fill: #ebebea;
}

.cls-61 {
  fill: #a4a3a3;
}

.cls-62 {
  fill: #dededd;
}

.cls-63 {
  fill: #9b9a9a;
}

.cls-64 {
  fill: #a1a1a1;
}

.cls-65 {
  fill: #bebebe;
}

.cls-66 {
  fill: #939292;
}

.cls-67 {
  fill: #f1f0f0;
}

.cls-68 {
  fill: #a8a8a8;
}

.cls-69 {
  fill: #888;
}

.cls-70 {
  fill: #7d7d7d;
}

.cls-71 {
  fill: #a2a2a2;
}

.cls-72 {
  fill: #acacac;
}

.cls-73 {
  fill: #d2d2d1;
}

.cls-74 {
  fill: #faf9f8;
}

.cls-75 {
  fill: #999;
}

.cls-76 {
  fill: #868686;
}

.cls-77 {
  fill: #818181;
}

.cls-78 {
  fill: #4f4e4e;
}

.cls-79 {
  fill: #575756;
}

.cls-80 {
  fill: #676767;
}

.cls-81 {
  fill: #626262;
}

.cls-82 {
  fill: #757575;
}

.cls-83 {
  fill: #3e3e3e;
}

.cls-84 {
  fill: #8b8b8b;
}

.cls-85 {
  fill: #d3d3d3;
}

.cls-86 {
  fill: #c4c4c4;
}

.cls-87 {
  fill: #7a7a7a;
}

.cls-88 {
  fill: #494949;
}

.cls-89 {
  fill: #595959;
}

.cls-90 {
  fill: #1c1c1c;
}

.cls-91 {
  fill: gray;
}

.cls-92 {
  fill: #6d6d6d;
}

.cls-93 {
  fill: #787878;
}

.cls-94 {
  fill: #666;
}

.cls-95 {
  fill: #585857;
}

.cls-96 {
  fill: #828282;
}

.cls-97 {
  fill: #767676;
}

.cls-98 {
  fill: #3d3d3d;
}

.cls-99 {
  fill: #6f6f6f;
}

.cls-100 {
  fill: #545353;
}

.cls-101 {
  fill: #777676;
}

.cls-102 {
  fill: #606060;
}

.cls-103 {
  fill: #797979;
}

.cls-104 {
  fill: #cccccb;
}

.cls-105 {
  fill: #d7d7d6;
}

.cls-106 {
  fill: #939393;
}

.cls-107 {
  fill: #b1b1b1;
}

.cls-108 {
  fill: #9e9e9e;
}

.cls-109 {
  fill: #cecece;
}

.cls-110 {
  fill: #bfbfbf;
}

.cls-111 {
  fill: #a5a5a5;
}

.cls-112 {
  fill: #b9b9b9;
}

.cls-113 {
  fill: #c9c8c8;
}

.cls-114 {
  fill: #acabab;
}

.cls-115 {
  fill: #adacac;
}

.cls-116 {
  fill: #b5b5b5;
}

.cls-117 {
  fill: #6c6b6b;
}

.cls-118 {
  fill: #8f8e8e;
}

.cls-119 {
  fill: #bdbdbd;
}

.cls-120 {
  fill: #565656;
}

.cls-121 {
  fill: #8a8a8a;
}

.cls-122 {
  fill: #9b9b9c;
}

.cls-123 {
  fill: #727272;
}

.cls-124 {
  fill: silver;
}

.cls-125 {
  fill: #6c6d6d;
}

.cls-126 {
  fill: #7c7c7c;
}

.cls-127 {
  fill: #767575;
}

.cls-128 {
  fill: #929191;
}

.cls-129 {
  fill: #e0e0df;
}

.cls-130 {
  fill: #b9b8b8;
}

.cls-131 {
  fill: #c8c8c8;
}

.cls-132 {
  fill: #949494;
}

.cls-133 {
  fill: #828181;
}

.cls-134 {
  fill: #838383;
}

.cls-135 {
  fill: #8d8d8d;
}

.cls-136 {
  fill: #747474;
}

.cls-137 {
  fill: #7b7a7a;
}

.cls-138 {
  fill: #a3a2a2;
}

.cls-139 {
  fill: #535353;
}

.cls-140 {
  fill: #b0b0b0;
}

.cls-141 {
  fill: #6c6c6c;
}

.cls-142 {
  fill: #5b5b5b;
}

.cls-143 {
  fill: #9d9c9c;
}

.cls-144 {
  fill: #8c8c8c;
}

.cls-145 {
  fill: #a0a0a0;
}

.cls-146 {
  fill: #8f8f8f;
}

.cls-147 {
  fill: #8c8b8b;
}

.cls-148 {
  fill: #989797;
}

.cls-149 {
  fill: #717171;
}

.cls-150 {
  fill: #cbcbca;
}

.cls-151 {
  fill: #b3b3b3;
}

.cls-152 {
  fill: #aeadad;
}

.cls-153 {
  fill: #d0d0d0;
}

.cls-154 {
  fill: #7b7b7b;
}

.cls-155 {
  fill: #909090;
}

.cls-156 {
  fill: #908f8f;
}

.cls-157 {
  fill: #636362;
}

.cls-158 {
  fill: #afafaf;
}

.cls-159 {
  fill: #9f9e9e;
}

.cls-160 {
  fill: #646464;
}

.cls-161 {
  fill: #949393;
}

.cls-162 {
  fill: #7b7a7b;
}

.cls-163 {
  fill: #535352;
}

.cls-164 {
  fill: #313131;
}

.cls-165 {
  fill: #8e8e8e;
}

.cls-166 {
  fill: #1e1f1f;
}

.cls-167 {
  fill: #727171;
}

.cls-168 {
  fill: #2d2d2d;
}

.cls-169 {
  fill: #636363;
}

.cls-170 {
  fill: #5c5c5b;
}

.cls-171 {
  fill: #6e6e6e;
}

.cls-172 {
  fill: #787879;
}

.cls-173 {
  fill: #c9c9c8;
}

.cls-174 {
  fill: #d8d8d8;
}

.cls-175 {
  fill: #898989;
}

.cls-176 {
  fill: #d3d4d3;
}

.cls-177 {
  fill: #888787;
}

.cls-178 {
  fill: #7f7f7f;
}

.cls-179 {
  fill: #505050;
}

.cls-180 {
  fill: #737373;
}

.cls-181 {
  fill: #6b6a6a;
}

.cls-182 {
  fill: #979797;
}

.cls-183 {
  fill: #d5d5d5;
}

.cls-184 {
  fill: #b4b4b4;
}

.cls-185 {
  fill: #999899;
}

.cls-186 {
  fill: #6a6a69;
}

.cls-187 {
  fill: #939293;
}

.cls-188 {
  fill: #656464;
}

.cls-189 {
  fill: #8e8d8d;
}

.cls-190 {
  fill: #4c4c4c;
}

.cls-191 {
  fill: #898888;
}

.cls-192 {
  fill: #f5f4f4;
}

.cls-193 {
  fill: #3a3a3a;
}

.cls-194 {
  fill: #474747;
}

.cls-195 {
  fill: #c5c5c5;
}

.cls-196 {
  fill: #bbbcbb;
}

.cls-197 {
  fill: #111212;
}

.cls-198 {
  fill: #b0afaf;
}

.cls-199 {
  fill: #777778;
}

.cls-200 {
  fill: #7a797a;
}

.cls-201 {
  fill: #ddd;
}

.cls-202 {
  fill: #cacaca;
}

.cls-203 {
  fill: #2f2f2f;
}

.cls-204 {
  fill: #585858;
}

.cls-205 {
  fill: #4e4e4e;
}

.cls-206 {
  fill: #2a2a2a;
}

.cls-207 {
  fill: #545453;
}

.cls-208 {
  fill: #444;
}

.cls-209 {
  fill: #0a0a0a;
}

.cls-210 {
  fill: #0b0b0b;
}

.cls-211 {
  fill: #4d4d4d;
}

.cls-212 {
  fill: #1d1d1d;
}

.cls-213 {
  fill: #656565;
}

.cls-214 {
  fill: #616161;
}

.cls-215 {
  fill: #373737;
}

.cls-216 {
  fill: #121313;
}

.cls-217 {
  fill: #666767;
}

.cls-218 {
  fill: #5c5c5c;
}

.cls-219 {
  fill: #4e4e4d;
}

.cls-220 {
  fill: #858484;
}

.cls-221 {
  fill: #a4a4a4;
}

.cls-222 {
  fill: #6b6b6b;
}

.cls-223 {
  fill: #9d9d9d;
}

.cls-224 {
  fill: #9b9b9b;
}

.cls-225 {
  fill: #848484;
}

.cls-226 {
  fill: #343434;
}

.cls-227 {
  fill: #b2b1b1;
}

.cls-228 {
  fill: #bababa;
}

.cls-229 {
  fill: #636262;
}

.cls-230 {
  fill: #3b3b3b;
}

.cls-231 {
  fill: #5e5e5e;
}

.cls-232 {
  fill: #9a9a9a;
}

.cls-233 {
  fill: #e3e3e2;
}

.cls-234 {
  fill: #e6e5e5;
}

.cls-235 {
  fill: #dbdbdb;
}

.cls-236 {
  fill: #f1f0ef;
}

.cls-237 {
  fill: #686868;
}

.cls-238 {
  fill: #404141;
}

.cls-239 {
  fill: #b2b2b1;
}

.cls-240 {
  fill: #9d9e9e;
}

.cls-241 {
  fill: #c7c6c6;
}

.cls-242 {
  fill: #878787;
}

.cls-243 {
  fill: #707070;
}

.cls-244 {
  fill: #525252;
}

.cls-245 {
  fill: #838382;
}

.cls-246 {
  fill: #757576;
}

.cls-247 {
  fill: #424242;
}

.cls-248 {
  fill: #79797a;
}

.cls-249 {
  fill: #a4a3a4;
}

.cls-250 {
  fill: #7f807f;
}

.cls-251 {
  fill: #8d8c8c;
}

.cls-252 {
  fill: #626161;
}

.cls-253 {
  fill: #787778;
}

.cls-254 {
  fill: #8c8b8c;
}

.cls-255 {
  fill: #7c7c7d;
}

.cls-256 {
  fill: #bbb;
}

.cls-257 {
  fill: #c8c8c7;
}

.cls-258 {
  fill: #696969;
}

.cls-259 {
  fill: #d9d9d9;
}

.cls-260 {
  fill: #bfbfbe;
}

.cls-261 {
  fill: #aaa;
}

.cls-262 {
  fill: #848383;
}

.cls-263 {
  fill: #a6a6a6;
}

.cls-264 {
  fill: #9b9c9c;
}

.cls-265 {
  fill: #6a6b6b;
}

.cls-266 {
  fill: #6a6a6a;
}

.cls-267 {
  fill: #565655;
}

.cls-268 {
  fill: #464646;
}

.cls-269 {
  fill: #5f5f5f;
}

.cls-270 {
  fill: #3f3f3f;
}

.cls-271 {
  fill: #272727;
}

.cls-272 {
  fill: #7e7e7e;
}

.cls-273 {
  fill: #5a5a5a;
}

.cls-274 {
  fill: #484848;
}

.cls-275 {
  fill: #353635;
}

.cls-276 {
  fill: #bcbcbc;
}

.cls-277 {
  fill: #222;
}

.cls-278 {
  fill: #9f9f9f;
}

.cls-279 {
  fill: #575757;
}

.cls-280 {
  fill: #545454;
}

.cls-281 {
  fill: #a7a6a7;
}

.cls-282 {
  fill: #bcbdbd;
}

.cls-283 {
  fill: #6a6a6b;
}

.cls-284 {
  fill: #383838;
}

.cls-285 {
  fill: #969697;
}

.cls-286 {
  fill: #dcdcdb;
}

.cls-287 {
  fill: #d1d1d1;
}

.cls-288 {
  fill: #616060;
}

.cls-289 {
  fill: #a09fa0;
}

.cls-290 {
  fill: #c3c2c2;
}

.cls-291 {
  fill: #b6b6b6;
}

.cls-292 {
  fill: #393939;
}

.cls-293 {
  fill: #6e6f6e;
}

.cls-294 {
  fill: #e4e4e4;
}

.cls-295 {
  fill: #a9a8a9;
}

.cls-296 {
  fill: #4b4b4b;
}

.cls-297 {
  fill: #131414;
}

.cls-298 {
  fill: #a6a5a6;
}

.cls-299 {
  fill: #8a8989;
}

.cls-300 {
  fill: #b7b7b7;
}

.cls-301 {
  fill: #6f6f6e;
}

.cls-302 {
  fill: #656666;
}

.cls-303 {
  fill: #686767;
}

.cls-304 {
  fill: #616160;
}

.cls-305 {
  fill: #404040;
}

.cls-306 {
  fill: #a7a6a6;
}

.cls-307 {
  fill: #c9c9c9;
}

.cls-308 {
  fill: #818080;
}

.cls-309 {
  fill: #a1a0a0;
}

.cls-310 {
  fill: #504f4f;
}

.cls-311 {
  fill: #363636;
}

.cls-312 {
  fill: #181818;
}

.cls-313 {
  fill: #7f7e7f;
}

.cls-314 {
  fill: #646363;
}

.cls-315 {
  fill: #c4c3c3;
}

.cls-316 {
  fill: #d0cfcf;
}

.cls-317 {
  fill: #c3c3c3;
}

.cls-318 {
  fill: #f4f3f3;
}

.cls-319 {
  fill: #cdcdcd;
}

.cls-320 {
  fill: #323333;
}

.cls-321 {
  fill: #4e4d4d;
}

.cls-322 {
  fill: #4a4a4a;
}

.cls-323 {
  fill: #151515;
}

.cls-324 {
  fill: #d2d2d2;
}

.cls-325 {
  fill: #cccbcb;
}

.cls-326 {
  fill: #161616;
}

.cls-327 {
  fill: #9c9c9d;
}

.cls-328 {
  fill: #aeaeae;
}

.cls-329 {
  fill: #9d9c9d;
}

.cls-330 {
  fill: #333433;
}

.cls-331 {
  fill: #eae9e9;
}

.cls-332 {
  fill: #c1c1c0;
}

.cls-333 {
  fill: #b3b2b2;
}

.cls-334 {
  fill: #a9a9a9;
}

.cls-335 {
  fill: #2a2b2b;
}

.cls-336 {
  fill: #e2e1e1;
}

.cls-337 {
  fill: #c2c2c2;
}

.cls-338 {
  fill: #979798;
}

.cls-339 {
  fill: #cacac9;
}

.cls-340 {
  fill: #a5a4a5;
}

.cls-341 {
  fill: #1b1b1b;
}

.cls-342 {
  fill: #7d7c7c;
}

.cls-343 {
  fill: #4c4b4b;
}

.cls-344 {
  fill: #7b7b7a;
}

.cls-345 {
  fill: #575656;
}

.cls-346 {
  fill: #545554;
}

.cls-347 {
  fill: #b4b3b3;
}

.cls-348 {
  fill: #939392;
}

.cls-349 {
  fill: #959594;
}

.cls-350 {
  fill: #b9bab9;
}

.cls-351 {
  fill: #d8d8d7;
}

.cls-352 {
  fill: #e2e2e1;
}

.cls-353 {
  fill: #dfdfde;
}

.cls-354 {
  fill: #e9e9e8;
}

.cls-355 {
  fill: #e7e7e7;
}

.cls-356 {
  fill: #cdcdcc;
}

.cls-357 {
  fill: #bbbbba;
}

.cls-358 {
  fill: #d6d6d6;
}

.cls-359 {
  fill: #c7c7c7;
}

.cls-360 {
  fill: #919091;
}

.cls-361 {
  fill: #868585;
}

.cls-362 {
  fill: #7f7e7e;
}

.cls-363 {
  fill: #5d5c5d;
}

.cls-364 {
  fill: #8a898a;
}

.cls-365 {
  fill: #a5a4a4;
}

.cls-366 {
  fill: #6e6d6d;
}

.cls-367 {
  fill: #babbba;
}

.cls-368 {
  fill: #abaaaa;
}

.cls-369 {
  fill: #838282;
}

.cls-370 {
  fill: #989899;
}

.cls-371 {
  fill: #adacad;
}

.cls-372 {
  fill: #b5b6b5;
}

.cls-373 {
  fill: #cdcccc;
}

.cls-374 {
  fill: #9a9a9b;
}

.cls-375 {
  fill: #888788;
}

.cls-376 {
  fill: #515151;
}

.cls-377 {
  fill: #353535;
}

.cls-378 {
  fill: #232323;
}

.cls-379 {
  fill: #5a5a59;
}

.cls-380 {
  fill: #ccc;
}

.cls-381 {
  fill: #605f5f;
}

.cls-382 {
  fill: #60605f;
}

.cls-383 {
  fill: #7a7a79;
}

.cls-384 {
  fill: #a2a1a2;
}

.cls-385 {
  fill: #d5d5d4;
}

.cls-386 {
  fill: #5f5e5f;
}

.cls-387 {
  fill: #8b8a8a;
}

.cls-388 {
  fill: #b8b7b7;
}

.cls-389 {
  fill: #4d4c4c;
}

.cls-390 {
  fill: #3f3f40;
}

.cls-391 {
  fill: #f9f8f8;
}

.cls-392 {
  fill: #9c9b9b;
}

.cls-393 {
  fill: #c5c5c4;
}

.cls-394 {
  fill: #858485;
}

.cls-395 {
  fill: #525151;
}

.cls-396 {
  fill: #919190;
}

.cls-397 {
  fill: #696a6a;
}

.cls-398 {
  fill: #171717;
}

.cls-399 {
  fill: #7e7e7d;
}

.cls-400 {
  fill: #bdbebd;
}

.cls-401 {
  fill: #6b6b6c;
}

.cls-402 {
  fill: #cfcece;
}

.cls-403 {
  fill: #e4e3e3;
}

.cls-404 {
  fill: #202020;
}

.cls-405 {
  fill: #b9baba;
}

.cls-406 {
  fill: #5e5d5d;
}

.cls-407 {
  fill: #737272;
}

.cls-408 {
  fill: #8e8d8e;
}

.cls-409 {
  fill: #404041;
}

.cls-410 {
  fill: #525352;
}

.cls-411 {
  fill: #262626;
}

.cls-412 {
  fill: #959494;
}

.cls-413 {
  fill: #555656;
}

.cls-414 {
  fill: #edecec;
}

.cls-415 {
  fill: #eaeae9;
}

.cls-416 {
  fill: #c1c1c1;
}

.cls-417 {
  fill: #d9d8d8;
}

.cls-418 {
  fill: #cecdcc;
}

.cls-419 {
  fill: #686969;
}

.cls-420 {
  fill: #c4c4c3;
}

.cls-421 {
  fill: #b3b3b2;
}

.cls-422 {
  fill: #aeaead;
}

.cls-423 {
  fill: #c8c7c7;
}

.cls-424 {
  fill: #1e1e1e;
}

.cls-425 {
  fill: #111;
}

.cls-426 {
  fill: #2a2929;
}

.cls-427 {
  fill: #868586;
}

.cls-428 {
  fill: #4f4f4f;
}

.cls-429 {
  fill: #7f8080;
}

.cls-430 {
  fill: #d4d4d4;
}

.cls-431 {
  fill: #807f7f;
}

.cls-432 {
  fill: #d7d7d7;
}

.cls-433 {
  fill: #9a9b9b;
}

.cls-434 {
  fill: #f3f3f2;
}

.cls-435 {
  fill: #ecebeb;
}

.cls-436 {
  fill: #f7f7f7;
}

.cls-437 {
  fill: #9e9d9d;
}

.cls-438 {
  fill: #b1b0b0;
}

.cls-439 {
  fill: #757676;
}

.cls-440 {
  fill: #b8b9b9;
}

.cls-441 {
  fill: #b4b5b4;
}

.cls-442 {
  fill: #bdbdbe;
}

.cls-443 {
  fill: #bbbcbc;
}

.cls-444 {
  fill: #5c5b5c;
}

.cls-445 {
  fill: #848384;
}

.cls-446 {
  fill: #7c7d7d;
}

.cls-447 {
  fill: #636364;
}

.cls-448 {
  fill: #bbbaba;
}

.cls-449 {
  fill: #3e3e3d;
}

.cls-450 {
  fill: #323231;
}

.cls-451 {
  fill: #e9e8e8;
}

.cls-452 {
  fill: #bdbdbc;
}

.cls-453 {
  fill: #aaa9a9;
}

.cls-454 {
  fill: #989999;
}

.cls-455 {
  fill: #b1b1b0;
}

.cls-456 {
  fill: #676666;
}

.cls-457 {
  fill: #6a6969;
}

.cls-458 {
  fill: #949493;
}

.cls-459 {
  fill: #5a5959;
}

.cls-460 {
  fill: #e1e2e1;
}

.cls-461 {
  fill: #dadad9;
}

.cls-462 {
  fill: #cbcbcb;
}

.cls-463 {
  fill: #9d9d9e;
}

.cls-464 {
  fill: #cac9c9;
}

.cls-465 {
  fill: #5d5d5c;
}

.cls-466 {
  fill: #898889;
}

.cls-467 {
  fill: #434343;
}

.cls-468 {
  fill: #2c2c2c;
}

.cls-469 {
  fill: #bebdbd;
}

.cls-470 {
  fill: #878687;
}

.cls-471 {
  fill: #e3e3e3;
}

.cls-472 {
  fill: #cececd;
}

.cls-473 {
  fill: #7c7b7c;
}

.cls-474 {
  fill: #7d7e7e;
}

.cls-475 {
  fill: #4a494a;
}

.cls-476 {
  fill: #626261;
}

.cls-477 {
  fill: #706f6f;
}

.cls-478 {
  fill: #f5f5f4;
}

.cls-479 {
  fill: #848483;
}

.cls-480 {
  fill: #b7b7b6;
}

.cls-481 {
  fill: #777677;
}

.cls-482 {
  fill: #99999a;
}

.cls-483 {
  fill: #a8a7a8;
}

.cls-484 {
  fill: #737273;
}

.cls-485 {
  fill: #7e7f7e;
}

.cls-486 {
  fill: #929291;
}

.cls-487 {
  fill: #777878;
}

.cls-488 {
  fill: #767677;
}

.cls-489 {
  fill: #747475;
}

.cls-490 {
  fill: #3c3c3c;
}

.cls-491 {
  fill: #606061;
}

.cls-492 {
  fill: #efeeed;
}

.cls-493 {
  fill: #e6e6e6;
}

.cls-494 {
  fill: #666565;
}

.cls-495 {
  fill: #949594;
}

.cls-496 {
  fill: #efeeee;
}

.cls-497 {
  fill: #dcdbdb;
}

.cls-498 {
  fill: #e8e8e8;
}

.cls-499 {
  fill: #696868;
}

.cls-500 {
  fill: #b1b2b2;
}

.cls-501 {
  fill: #454545;
}

.cls-502 {
  fill: #595858;
}

.cls-503 {
  fill: #323232;
}

.cls-504 {
  fill: #9f9e9f;
}

.cls-505 {
  fill: #f3f3f3;
}

.cls-506 {
  fill: #929192;
}

.cls-507 {
  fill: #0d0d0d;
}

.cls-508 {
  fill: #e5e5e5;
}

.cls-509 {
  fill: #9a999a;
}

.cls-510 {
  fill: #3f4040;
}

.cls-511 {
  fill: #c3c3c2;
}

.cls-512 {
  fill: #f2f2f1;
}

.cls-513 {
  fill: #e2e2e2;
}

.cls-514 {
  fill: #b5b4b4;
}

.cls-515 {
  fill: #9e9d9e;
}

.cls-516 {
  fill: #cecdcd;
}

.cls-517 {
  fill: #dedede;
}

.cls-518 {
  fill: #969596;
}

.cls-519 {
  fill: #797879;
}

.cls-520 {
  fill: #eeeded;
}

.cls-521 {
  fill: #c6c6c6;
}

.cls-522 {
  fill: #282828;
}

.cls-523 {
  fill: #5b5a5a;
}

.cls-524 {
  fill: #bdbcbc;
}

.cls-525 {
  fill: #c5c4c4;
}

.cls-526 {
  fill: #b2b3b3;
}

.cls-527 {
  fill: #636263;
}

.cls-528 {
  fill: #5c5b5b;
}

.cls-529 {
  fill: #5f5e5e;
}

.cls-530 {
  fill: #6e6e6d;
}

.cls-531 {
  fill: #313231;
}

.cls-532 {
  fill: #707071;
}

.cls-533 {
  fill: #676768;
}

.cls-534 {
  fill: #ededec;
}

.cls-535 {
  fill: #535252;
}

.cls-536 {
  fill: #4a4949;
}

.cls-537 {
  fill: #9e9e9f;
}

.cls-538 {
  fill: #7a7a7b;
}

.cls-539 {
  fill: #d3d2d2;
}

.cls-540 {
  fill: #b3b4b3;
}

.cls-541 {
  fill: #6f7070;
}

.cls-542 {
  fill: #b6b7b6;
}

.cls-543 {
  fill: #cfcfce;
}

.cls-544 {
  fill: #d7d6d6;
}

.cls-545 {
  fill: #555454;
}

.cls-546 {
  fill: #3c3c3d;
}

.cls-547 {
  fill: #878786;
}

.cls-548 {
  fill: #737374;
}

.cls-549 {
  fill: #797878;
}

.cls-550 {
  fill: #1f2020;
}

.cls-551 {
  fill: #292929;
}

.cls-552 {
  fill: #414141;
}

.cls-553 {
  fill: #e5e4e4;
}

.cls-554 {
  fill: #d1d0d0;
}

.cls-555 {
  fill: #545555;
}

.cls-556 {
  fill: #e1e1e0;
}

.cls-557 {
  fill: #747374;
}

.cls-558 {
  fill: #9c9d9d;
}

.cls-559 {
  fill: #6d6e6e;
}

.cls-560 {
  fill: #b5b5b4;
}

.cls-561 {
  fill: #b6b7b7;
}

.cls-562 {
  fill: #d4d4d3;
}

.cls-563 {
  fill: #b2b1b2;
}

.cls-564 {
  fill: #949495;
}

.cls-565 {
  fill: #787777;
}

.cls-566 {
  fill: #767675;
}

.cls-567 {
  fill: #979898;
}

.cls-568 {
  fill: #4a4a4b;
}

.cls-569 {
  fill: #b7b8b7;
}

.cls-570 {
  fill: #6b6c6b;
}

.cls-571 {
  fill: #5d5c5c;
}

.cls-572 {
  fill: #d6d6d5;
}

.cls-573 {
  fill: #abaaab;
}

.cls-574 {
  fill: #dddedd;
}

.cls-575 {
  fill: #646364;
}

.cls-576 {
  fill: #d7d8d7;
}

.cls-577 {
  fill: #303030;
}

.cls-578 {
  fill: #212121;
}

.cls-579 {
  fill: #505150;
}

.cls-580 {
  fill: #babbbb;
}

.cls-581 {
  fill: #727172;
}

.cls-582 {
  fill: #737474;
}

.cls-583 {
  fill: #d0d0cf;
}

.cls-584 {
  fill: #dfe0df;
}

.cls-585 {
  fill: #7c7b7b;
}

.cls-586 {
  fill: #b8b8b7;
}

.cls-587 {
  fill: #e6e6e5;
}

.cls-588 {
  fill: #e7e7e6;
}

.cls-589 {
  fill: #e0dfdf;
}

.cls-590 {
  fill: #e7e6e5;
}

.cls-591 {
  fill: #757474;
}

.cls-592 {
  fill: #2b2b2b;
}

.cls-593 {
  fill: #eeeeed;
}

.cls-594 {
  fill: #979796;
}

.cls-595 {
  fill: #585757;
}

.cls-596 {
  fill: #7e7d7d;
}

.cls-597 {
  fill: #252525;
}

.cls-598 {
  fill: #d0d0d1;
}

.cls-599 {
  fill: #7e7f7f;
}

.cls-600 {
  fill: #605f60;
}

.cls-601 {
  fill: #acacab;
}

.cls-602 {
  fill: #525251;
}

.cls-603 {
  fill: #595958;
}

.cls-604 {
  fill: #555556;
}

.cls-605 {
  fill: #515050;
}

.cls-606 {
  fill: #6b6c6c;
}

.cls-607 {
  fill: #b9b9b8;
}

.cls-608 {
  fill: #9fa0a0;
}

.cls-609 {
  fill: #e3e2e2;
}

.cls-610 {
  fill: #d1d2d1;
}

.cls-611 {
  fill: #df7760;
}*/
