@charset "UTF-8";

img {
  width: 100%;
}

#map-img {
  width:100%;
  padding: 10px 0 10px 0;
  text-align: center;



}

/*----SLIDER---*/
.ui-slider-pips .ui-slider-pip {
    color: #9B9854 !important;

}

.ui-slider-horizontal.ui-slider-pips {
    margin-bottom: 1.4em;
    margin: 0 0 0 18px;
  }

.ui-slider-pips [class*=ui-slider-pip-selected] {
    color: #61C5BD !important;
}

.ui-slider-pips [class*=ui-slider-pip-initial] {
    color: #B6D8D5 !important;
}
